<!DOCTYPE html>
<html>

<head>
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-vcard">
  <page-title data-title="Vcard.title" data-subtitle="Vcard.subtitle"></page-title>
  <main class="container gap-stack">
    <alert-box data-text="Vcard.hint"></alert-box>
    <mint-card-container id="mint-card-container">
      <mint-card data-hide></mint-card>
      <mint-card data-title="Vcard.title-person">
        <form class="form-container">
          <mint-label for="titleName" data-text="Vcard.honoric-prefix"></mint-label>
          <input-text id="titleName"></input-text>
          <mint-label for="firstName" data-text="Vcard.firstname"></mint-label>
          <input-text id="firstName"></input-text>
          <mint-label for="lastName" data-text="Vcard.lastname"></mint-label>
          <input-text id="lastName"></input-text>
          <mint-label for="birthDay" data-text="Vcard.bday"></mint-label>
          <input-date id="birthDay"></input-date>
        </form>
      </mint-card>
      <mint-card data-title="Vcard.priv-data-title">
        <form class="form-container">
          <mint-label for="telHomeCell" data-text="Vcard.telCell"></mint-label>
          <input-text id="telHomeCell"></input-text>
          <mint-label for="telHomeVoice" data-text="Vcard.telVoice"></mint-label>
          <input-text id="telHomeVoice"></input-text>
          <mint-label for="mailHome" data-text="Vcard.mail"></mint-label>
          <input-text id="mailHome"></input-text>
          <mint-label for="adrHomeStreet" data-text="Vcard.adrStreet"></mint-label>
          <input-text id="adrHomeStreet"></input-text>
          <mint-label for="adrHomeCode" data-text="Vcard.adrCode"></mint-label>
          <input-text id="adrHomeCode"></input-text>
          <mint-label for="adrHomeCity" data-text="Vcard.adrCity"></mint-label>
          <input-text id="adrHomeCity"></input-text>
          <mint-label for="adrHomeCountry" data-text="Vcard.adrCountry"></mint-label>
          <input-text id="adrHomeCountry"></input-text>
          <mint-label for="url" data-text="Vcard.website"></mint-label>
          <input-text id="url"></input-text>
        </form>
      </mint-card>
      <mint-card data-title="Vcard.job-things">
        <form class="form-container">
          <mint-label for="organization" data-text="Vcard.organization"></mint-label>
          <input-text id="organization"></input-text>
          <mint-label for="title" data-text="Vcard.position"></mint-label>
          <input-text id="title"></input-text>
          <mint-label for="telWorkCell" data-text="Vcard.telCell"></mint-label>
          <input-text id="telWorkCell"></input-text>
          <mint-label for="telWorkVoice" data-text="Vcard.telVoice"></mint-label>
          <input-text id="telWorkVoice"></input-text>
          <mint-label for="telWorkFax" data-text="Vcard.fax"></mint-label>
          <input-text id="telWorkFax"></input-text>
          <mint-label for="mailWork" data-text="Vcard.mail"></mint-label>
          <input-text id="mailWork"></input-text>
          <mint-label for="adrWorkStreet" data-text="Vcard.adrStreet"></mint-label>
          <input-text id="adrWorkStreet"></input-text>
          <mint-label for="adrWorkCode" data-text="Vcard.adrCode"></mint-label>
          <input-text id="adrWorkCode"></input-text>
          <mint-label for="adrWorkCity" data-text="Vcard.adrCity"></mint-label>
          <input-text id="adrWorkCity"></input-text>
          <mint-label for="adrWorkCountry" data-text="Vcard.adrCountry"></mint-label>
          <input-text id="adrWorkCountry"></input-text>
        </form>
      </mint-card>
      <mint-card data-title="vCard">
        <p class="vcard" id="vcard"></p>
        <div slot="footer">
          <button class="btn btn-primary" id="btn-save" data-i18n="General.btn-save"></button>
          <button class="btn" id="btn-qr-code" data-i18n="General.qr-code"></button>
          <button class="btn btn-secondary" id="btn-reset" data-i18n="General.btn-reset"></button>
        </div>
      </mint-card>
      <qr-code-card id="qr-code" v-if="showQr" data-hide></qr-code-card>
    </mint-card-container>
    <modal-download-file id="modalDownloadFile"></modal-download-file>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/page-title.js'
    import '../components/alert-box.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/qr-code-card.js'
    import '../components/modal-download-file.js'
    import { gid, hide, show } from '../modules/utils.js'
    import { translate } from '../modules/i18n.js'

    // references
    const titleName = gid('titleName')
    const firstName = gid('firstName')
    const lastName = gid('lastName')
    const birthDay = gid('birthDay')
    const telHomeCell = gid('telHomeCell')
    const telHomeVoice = gid('telHomeVoice')
    const mailHome = gid('mailHome')
    const adrHomeStreet = gid('adrHomeStreet')
    const adrHomeCode = gid('adrHomeCode')
    const adrHomeCity = gid('adrHomeCity')
    const adrHomeCountry = gid('adrHomeCountry')
    const url = gid('url')
    const telWorkCell = gid('telWorkCell')
    const telWorkVoice = gid('telWorkVoice')
    const telWorkFax = gid('telWorkFax')
    const mailWork = gid('mailWork')
    const adrWorkStreet = gid('adrWorkStreet')
    const adrWorkCode = gid('adrWorkCode')
    const adrWorkCity = gid('adrWorkCity')
    const adrWorkCountry = gid('adrWorkCountry')
    const organization = gid('organization')
    const title = gid('title')
    const vcard = gid('vcard')
    const modalDownloadFile = gid('modalDownloadFile')
    const container = gid('mint-card-container')
    const qrCode = gid('qr-code')
    const btnQrCode = gid('btn-qr-code')
    const btnSave = gid('btn-save')
    const btnReset = gid('btn-reset')

    // events
    container.querySelectorAll('input-text, input-date').forEach(element => {
      element.oninput = calcVcard
      element.autocomplete = 'off'
    })
    btnQrCode.onclick = showQrCode
    btnSave.onclick = save
    btnReset.onclick = reset

    // init
    calcVcard()

    // show qr code
    function showQrCode() {
      hide(btnQrCode)
      qrCode.show()
      qrCode.repaint()
      calcVcard()
    }

    // update vcard and qr code if visible
    function calcVcard() {
      let result = 'BEGIN:VCARD\nVERSION:3.0\n'
      // person
      if (titleName.value || firstName.value || lastName.value) {
        result += `N:${lastName.value};${firstName.value};;${titleName.value};\n`
        result += `FN:${titleName.value} ${firstName.value} ${lastName.value}\n`
      }
      if (birthDay.value)
        result += `BDAY:${birthDay.value}\n`
      if (url.value)
        result += `URL:${url.value}\n`
      // home
      if (telHomeCell.value)
        result += `TEL;TYPE=HOME,CELL:${telHomeCell.value}\n`
      if (telHomeVoice.value)
        result += `TEL;TYPE=HOME,VOICE:${telHomeVoice.value}\n`
      if (mailHome.value)
        result += `EMAIL;TYPE=HOME:${mailHome.value}\n`
      if (adrHomeStreet.value || adrHomeCode.value || adrHomeCity.value || adrHomeCountry.value)
        result += `ADR;TYPE=HOME:;;${adrHomeStreet.value};${adrHomeCity.value};;${adrHomeCode.value};${adrHomeCountry.value}\n`
      // work
      if (telWorkCell.value)
        result += `TEL;TYPE=WORK,CELL:${telWorkCell.value}\n`
      if (telWorkVoice.value)
        result += `TEL;TYPE=WORK,VOICE:${telWorkVoice.value}\n`
      if (telWorkFax.value)
        result += `TEL;TYPE=WORK,FAX:${telWorkFax.value}\n`
      if (mailWork.value)
        result += `EMAIL;TYPE=WORK:${mailWork.value}\n`
      if (adrWorkStreet.value || adrWorkCode.value || adrWorkCity.value || adrWorkCountry.value)
        result += `ADR;TYPE=WORK:;;${adrWorkStreet.value};${adrWorkCity.value};;${adrWorkCode.value};${adrWorkCountry.value}\n`
      if (organization.value)
        result += `ORG:${organization.value}\n`
      if (title.value)
        result += `TITLE:${title.value}\n`
      result += 'END:VCARD'
      vcard.innerText = result
      if (qrCode.isVisible()) qrCode.setAttribute('data-text', result)
    }

    // save vcard
    function save() {
      const name = lastName.value ? lastName.value : translate('Vcard.contact')
      modalDownloadFile.open({ name, type: 'vcard', data: vcard.innerText })
    }

    // reset
    function reset() {
      qrCode.hide()
      show(btnQrCode)
      container.querySelectorAll('input-text, input-date').forEach(element => element.value = '')
      calcVcard()
    }
  </script>
</body>

</html>

<style>
  p.vcard {
    font-family: monospace;
    white-space: pre-wrap;
  }
</style>