<!DOCTYPE html>
<html>

<head>
  <script src="../website.js"></script>
</head>

<!-- the apps mint-tilted-plane and mint-horizontal-plane are identic, they only differ in the app id -->

<body class="mintapps" data-id="mint-horizontal-plane">
  <page-title id="page-title" data-title="TiltedPlane.title" data-subtitle="TiltedPlane.subtitle" data-tabs="General.simulation, General.information"></page-title>
  <main class="container">
    <text-block id="text-block" data-tab-index="1" data-text="infos/tilted-plane"></text-block>
    <text-block data-tab-index="2" data-text="infos/block-exe, infos/horizontal-plane-exe"></text-block>
    <mint-card-container data-tab-index="0" id="mint-card-container">
      <mint-card data-title="General.card-params">
        <form class="form-container">
          <mint-label for="setup" data-text="TiltedPlane.setup" data-math="x_0"></mint-label>
          <input-select id="setup" data-options="``0unit(cm)``,``100unit(cm)``"></input-select>
          <mint-label for="speed" data-text="Physics.initial-velocity" data-math="v_0"></mint-label>
          <input-select id="speed" data-options="General.none, TiltedPlane.speed-1, General.medium, TiltedPlane.speed-3, General.variable"></input-select>
          <mint-label for="v0" data-unit="m·s⁻¹" data-math="v_0"></mint-label>
          <input-number id="v0" data-min="0" data-max="5" data-step="0.01"></input-number>
          <mint-label for="alpha" data-text="TiltedPlane.alpha" data-math="alpha" data-unit="°"></mint-label>
          <input-number id="alpha" data-min="1" data-max="90" data-step="1"></input-number>
          <mint-label for="mass" data-text="Physics.mass" data-math="m_text(W)" data-unit="g"></mint-label>
          <input-number id="mass" data-min="1" data-max="5000" data-step="1"></input-number>
          <mint-label for="fTract" data-text="Physics.traction-force" data-math="F_text(T)" data-unit="mN"></mint-label>
          <input-number id="fTract" data-min="0" data-max="1000" data-step="1"></input-number> <mint-label for="bFlag" data-text="TiltedPlane.flag-width" data-math="b" data-unit="mm"></mint-label>
          <input-number id="bFlag" data-min="5" data-max="15"></input-number>
          <mint-label for="simMode" data-text="General.sim-mode"></mint-label>
          <input-select id="simMode" data-options="TiltedPlane.sim-mode-0, TiltedPlane.sim-mode-1"></input-select>
          <mint-label for="friction" data-text="Physics.friction"></mint-label>
          <input-select id="friction" data-options="Physics.friction-none, Physics.friction-roll, Physics.friction-air, Physics.friction-roll-air"></input-select>
          <mint-label for="mur" data-text="Physics.friction-coefficient" data-math="mu_text(R)"></mint-label>
          <input-number v-if="friction === 1 || friction === 3" id="mur" data-min="0.01" data-max="10" data-step="0.01"></input-number>
          <mint-label for="displayForces" data-text="Physics.display-forces"></mint-label>
          <input-select id="displayForces" data-options="–, Physics.resulting-force, TiltedPlane.force-2"></input-select>
          <mint-label class="wide-label" for="switchStrobo" data-text="TiltedPlane.switch-strobo"></mint-label>
          <input-switch id="switchStrobo" data-math="(2unit(fps))"></input-switch>
          <mint-label class="wide-label" for="switchBarriers" data-text="TiltedPlane.switch-barriers"></mint-label>
          <input-switch id="switchBarriers"></input-switch>
          <mint-label class="wide-label" for="showDetails" data-text="General.show-details"></mint-label>
          <input-switch id="showDetails"></input-switch>
          <mint-label for="displayTime" data-text="Physics.time" data-unit="s"></mint-label>
          <output-number data-detail id="displayTime" data-precision="3"></output-number>
          <mint-label for="displayX" data-text="Physics.position" data-unit="m"></mint-label>
          <output-number data-detail id="displayX" data-precision="3"></output-number>
        </form>
        <alert-box id="message" data-type="warning" data-hide></alert-box>
        <div slot="footer">
          <state-buttons id="state" data-step></state-buttons>
        </div>
      </mint-card>
      <mint-card data-hide></mint-card>
      <mint-card data-title="General.card-experiment">
        <div class="pos-relative">
          <graph-legend id="legend" data-left></graph-legend>
          <div id="divAnimate" class="w-100"></div>
        </div>
      </mint-card>
      <mint-card id="cardBarriers" data-hide data-title="TiltedPlane.light-barriers">
        <alert-box id="hintBarriers" data-text="TiltedPlane.no-light-barriers"></alert-box>
        <table id="tableBarriers" class="table table-striped mint-card-table">
          <thead>
            <tr>
              <th data-i18n-md-inline="TiltedPlane.col-0"></th>
              <th data-i18n-md-inline="TiltedPlane.col-1"></th>
              <th data-i18n-md-inline="TiltedPlane.col-2"></th>
            </tr>
          </thead>
          <tbody id="tableBarriersBody"></tbody>
        </table>
        <hr>
        <form class="form-container">
          <mint-label for="newBarrierPos" data-text="TiltedPlane.new-light-barrier" data-unit="cm"></mint-label>
          <input-number id="newBarrierPos" data-min="1" data-max="99"></input-number>
        </form>
        <div slot="footer">
          <button id="btnAddBarrier" class="btn btn-primary" @click="addLightBarrier()" data-i18n="General.btn-add"></button>
          <button id="btnSaveData" class="btn" data-i18n="General.btn-save-data"></button>
        </div>
      </mint-card>
    </mint-card-container>
    <modal-download-file id="modalDownloadFile"></modal-download-file>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/page-title.js'
    import '../components/alert-box.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/state-buttons.js'
    import '../components/modal-download-file.js'
    import '../components/graph-components.js'
    import '../components/text-block.js'
    import { gid, showIf, showIfDetails } from '../modules/utils.js'
    import * as plot2d from '../modules/plot-2d.js'
    import { sInit, sRunning, sPaused, sDone } from '../modules/states.js'

    // constants
    const g = 9.81 // local gravity
    const l = 1 // length of plane
    const dt = 0.02 // time step
    const wW = 0.06 // width of wagon
    const hW = 0.04 // height of wagon
    const rW = 0.01 // dimension wagon width, height, wheel radius
    const hF = 0.02 // height flag
    const cw = 0.5 // wagon
    const rho = 1.2041 //  20°
    const dtStrobo = 0.5 // time interval stroboscope pictures

    // variables
    let width, height // dimension canvas
    let cos, sin // sin(α) and cos(α)
    let hE, wE // height and width of plane
    let v, x // current values for velocity and position
    let F_R, F_H, F_N, F_T, Fres // force components
    let time // current time in seconds
    let scale // scaling factor for display
    let background, foreground // Canvas
    let ox = 0 // offset x to center image
    let oy = 0 // offset y to center image
    let colors
    let stroboPositions = [] // position of strobe pictures
    let lightBarriers = [] // light barriers
    let horizontal = false // limit to horizontal mode

    // references
    const pageTitle = gid('page-title')
    const textBlock = gid('text-block')
    const mintCardContainer = gid('mint-card-container')
    const setup = gid('setup', 0) // 0 tractive force, 1 movement from top
    const alpha = gid('alpha', 30)
    const speed = gid('speed', 0) // 0 none, 1 slow, 2 medium, 3 fast, 4 variable
    const v0 = gid('v0', 0)
    const divAnimate = gid('divAnimate')
    const mass = gid('mass', 40)
    const fTract = gid('fTract', 250)
    const bFlag = gid('bFlag', 10) // width of flag in mm
    const simMode = gid('simMode', 0)
    const friction = gid('friction', 0)
    const mur = gid('mur', 0.15)
    const displayForces = gid('displayForces', 0)
    const switchStrobo = gid('switchStrobo', false) // use strobe
    const switchBarriers = gid('switchBarriers', false) // use light barriers
    const showDetails = gid('showDetails', false)
    const displayTime = gid('displayTime', 0)
    const displayX = gid('displayX', 0)
    const message = gid('message')
    const legend = gid('legend')
    const cardBarriers = gid('cardBarriers')
    const hintBarriers = gid('hintBarriers')
    const tableBarriers = gid('tableBarriers')
    const tableBarriersBody = gid('tableBarriersBody')
    const state = gid('state', sInit)
    const modalDownloadFile = gid('modalDownloadFile')
    const newBarrierPos = gid('newBarrierPos', 10)
    const btnAddBarrier = gid('btnAddBarrier')
    const btnSaveData = gid('btnSaveData')

    // events
    mintCardContainer.onrepaint = repaint
    for (const e of [setup, speed, v0, mass, fTract, bFlag, friction, mur, alpha, simMode]) e.oninput = paramsChanged
    displayForces.oninput = () => { drawForeground(); updateLegend() }
    switchBarriers.oninput = toggleBarriers
    showDetails.oninput = () => showIfDetails(document.body, showDetails.value)
    state.onstart = start
    state.oncont = start
    state.onpause = pause
    state.onreset = reset
    state.onstep = step
    pageTitle.ontab = () => state.pause()
    btnAddBarrier.onclick = addLightBarrier
    btnSaveData.onclick = saveData

    // customize for horizontal mode
    if (window.mintapps.id === 'mint-horizontal-plane') {
      pageTitle.setAttribute('data-title', 'HorizontalPlane.title')
      pageTitle.setAttribute('data-subtitle', 'HorizontalPlane.subtitle')
      pageTitle.setAttribute('data-tabs', 'General.simulation, General.information, General.tab-exe')
      textBlock.setAttribute('data-text', 'infos/horizontal-plane')
      setup.hide()
      alpha.hide()
      alpha.value = 0
      fTract.value = 0
      speed.value = 1
      horizontal = true
    }

    // start
    updateGui()
    showIfDetails(document.body, showDetails.value)
    init()

    // Initialize variables and canvas
    function init(repaint = false) {
      plot2d.init()
      colors = plot2d.getColors()
      width = divAnimate.clientWidth
      height = horizontal ? width * 0.5 : width * 1.2
      divAnimate.style.height = height + 'px'
      background = plot2d.createCanvas(divAnimate, width, height, 'canvasB', true)
      foreground = plot2d.createCanvas(divAnimate, width, height, 'canvasF', true)
      readParams(repaint)
      drawBackground()
      drawForeground()
    }

    // update gui
    function updateGui() {
      v0.showIf(speed.value === 4)
      fTract.showIf(setup.value === 0)
      bFlag.showIf(switchBarriers.value)
      simMode.showIf(switchBarriers.value)
      mur.showIf(friction.value === 1 || friction.value === 3)
      showIf(cardBarriers, switchBarriers.value)
    }

    // toggle barrier card
    function toggleBarriers() {
      drawBackground()
      drawForeground()
      updateGui()
      if (switchBarriers.value) renderBarrierTable()
    }

    // render table with positions and values of light barriers
    function renderBarrierTable() {
      hintBarriers.showIf(lightBarriers.length === 0)
      showIf(tableBarriers, lightBarriers.length > 0)
      showIf(btnAddBarrier, lightBarriers.length < 10)
      showIf(btnSaveData, lightBarriers.length > 0)
      tableBarriersBody.innerHTML = ''
      lightBarriers.forEach((barrier, i) => {
        const tr = document.createElement('tr')
        tr.innerHTML = `
        <td class="math-font">${plot2d.optimizeNumber(barrier.pos, 3)}</td>
        <td class="math-font">${barrier.t0 ? plot2d.optimizeNumber(barrier.t0, 3) : "–"}</td>
        <td class="math-font">${barrier.t1 ? plot2d.optimizeNumber(1000 * barrier.t1, 3) : "–"}</td>
        `
        const td = document.createElement('td')
        const img = document.createElement('img')
        img.src = '../assets/icons/delete.svg'
        img.classList.add('small-icon')
        img.onclick = () => deleteLightBarrier(i)
        td.append(img)
        tr.append(td)
        tableBarriersBody.append(tr)
      })
    }

    // Read values and set params
    function readParams(repaint = false) {
      message.hide()
      showIf(state, true)
      // start values when not repainting
      if (!repaint) {
        x = setup.value === 0 ? 0 : 1
        v = speed.value < 4 ? 0.2 * speed.value : v0.value
        if (setup.value === 1) v = -v
        time = 0
        stroboPositions = switchStrobo.value ? [x] : []
        lightBarriers.forEach(barrier => { barrier.t0 = 0; barrier.t1 = 0 })
        renderBarrierTable()
      }
      // trigonometric functions
      sin = Math.sin((Math.PI * alpha.value) / 180)
      cos = Math.cos((Math.PI * alpha.value) / 180)
      hE = l * sin
      wE = l * cos
      // calc display scale
      scale = width / l
      ox = (width - wE * scale) / 2
      oy = alpha.value < 10 ? (0.25 + hE) * scale : (0.1 + hE) * scale
      // set height of canvas container
      divAnimate.style.height = `${(0.2 + hE) * scale}px`
      divAnimate.style.height = `${0.2 * scale + oy}px`
      divAnimate.style.overflow = 'hidden'
      // Does the wagon even move?
      if (state.value !== sDone && v === 0 && willStart() === 0) {
        message.show('Physics.not-moving')
        showIf(state, false)
      }
      updateLegend()
    }

    // Params have been changed
    function paramsChanged() {
      state.value = sInit
      updateGui()
      readParams()
      drawBackground()
      drawForeground()
      updateValues()
    }

    // draw background
    function drawBackground() {
      const ctx = background.getContext('2d')
      ctx.strokeStyle = colors[4]
      ctx.clearRect(0, 0, width, height)
      const fs = plot2d.getFontSizeMath()
      // alpha
      if (alpha.value > 0) {
        ctx.beginPath()
        ctx.lineWidth = 2
        ctx.fillStyle = colors[6]
        ctx.moveTo(ox, oy)
        ctx.arc(ox, oy, 0.3 * wE * scale, (-Math.PI * alpha.value) / 180, 0)
        ctx.lineTo(ox, oy)
        ctx.fill()
        ctx.stroke()
        plot2d.drawLine(ctx, {
          x0: ox + wE * scale,
          y0: oy - hE * scale,
          x1: ox + wE * scale,
          y1: oy,
          color: 3,
          lineWidth: 2
        })
        plot2d.drawLine(ctx, {
          x0: ox + wE * scale,
          y0: oy,
          x1: ox + 0,
          y1: oy,
          color: 3,
          lineWidth: 2
        })
      }
      // ramp
      plot2d.drawArrow(ctx, {
        x0: ox,
        y0: oy,
        x1: ox + wE * scale,
        y1: oy - hE * scale,
        color: 4,
        lineWidth: 3
      })
      // scale
      for (let i = 0; i <= 1; i += 0.1) {
        const ii = (0.1 + i) / 1.2
        plot2d.drawLine(ctx, {
          x0: ox + ii * cos * scale,
          y0: oy - ii * sin * scale,
          x1: ox + (ii * cos + 0.01 * sin) * scale,
          y1: oy + (-ii * sin + 0.01 * cos) * scale,
          color: 4,
          lineWidth: 2
        })
        plot2d.drawMath(ctx, {
          x: ox + (ii * cos + 0.01 * sin) * scale - 0.5 * cos * fs,
          y: oy + (-ii * sin + 0.01 * cos) * scale + 0.8 * cos * fs + 0.3 * fs,
          text: Number(Math.round(i * 100)).toString()
        })
      }
      plot2d.drawMath(ctx, {
        x: ox + cos * scale - 3 * fs,
        y: oy - sin * scale - 0.5 * fs,
        text: 'x / unit(cm)',
        color: 4
      })
      // stroboscope pcitures
      for (const pos of stroboPositions) {
        drawWagon(ctx, pos, true)
      }
      // light barriers
      if (switchBarriers.value) {
        ctx.beginPath()
        ctx.lineWidth = 2
        ctx.strokeStyle = colors[7]
        for (const barrier of lightBarriers) {
          const ii = (10 + barrier.pos) / 120
          const xb = ox + (ii * cos - (2 * hW + rW) * sin) * scale
          const yb = oy + (-ii * sin - (2 * hW + rW) * cos) * scale
          ctx.moveTo(xb - 3, yb - 3)
          ctx.lineTo(xb + 3, yb + 3)
          ctx.moveTo(xb - 3, yb + 3)
          ctx.lineTo(xb + 3, yb - 3)
        }
        ctx.stroke()
      }
    }

    // Draw foreground
    function drawForeground() {
      const ctx = foreground.getContext('2d')
      ctx.clearRect(0, 0, width, height)
      drawWagon(ctx, x, false)
    }

    // draw wagen (required for foregreound and background)
    function drawWagon(ctx, pos, isStrobo) {
      const ii = (pos + 0.1) / 1.2
      ctx.save()
      ctx.translate(ox + scale * ii * cos, oy - scale * ii * sin)
      ctx.rotate((-Math.PI * alpha.value) / 180)
      // wagon
      ctx.beginPath()
      ctx.lineWidth = 2
      ctx.fillStyle = isStrobo ? colors[6] : displayForces.value > 0 ? colors[0] : colors[1]
      ctx.strokeStyle = colors[4]
      ctx.rect(-0.5 * wW * scale, -rW * scale, scale * wW, -scale * hW)
      ctx.stroke()
      ctx.fill()
      // wheels
      ctx.fillStyle = colors[6]
      ctx.beginPath()
      ctx.arc(-0.3 * wW * scale, -rW * scale, rW * scale, 0, 2 * Math.PI)
      ctx.fill()
      ctx.stroke()
      ctx.beginPath()
      ctx.arc(0.3 * wW * scale, -rW * scale, rW * scale, 0, 2 * Math.PI)
      ctx.fill()
      ctx.stroke()
      // flag
      if (switchBarriers.value) {
        ctx.beginPath()
        ctx.fillStyle = colors[6]
        ctx.strokeStyle = colors[4]
        const y = (-rW - hW) * scale - 1
        const b = bFlag.value / 1000
        ctx.moveTo(0, y)
        ctx.lineTo(0, y - scale * hW * 1.3)
        ctx.rect(-scale * b, y - scale * (hW - 0.5 * hF), scale * b, -scale * hF)
        ctx.fill()
        ctx.stroke()
      }
      // forces
      if (!isStrobo && displayForces.value > 0) {
        const scaleForce = 5e-1
        const y = -0.7 * hW * scale
        plot2d.drawDisc(ctx, { x: 0, y, r: 1, color: 4 })
        if (displayForces.value === 1) {
          plot2d.drawArrow(ctx, {
            x0: 0,
            y0: y,
            x1: scaleForce * Fres * scale,
            y1: y,
            color: 7,
            lineWidth: 2
          })
        } else {
          if (fTract.value > 0 && setup.value === 0) {
            plot2d.drawArrow(ctx, {
              x0: 0,
              y0: y,
              x1: F_T * scaleForce * scale,
              y1: y,
              color: 1,
              lineWidth: 2
            })
          }
          plot2d.drawArrow(ctx, {
            x0: 0,
            y0: y,
            x1: F_H * scaleForce * scale,
            y1: y,
            color: 2,
            lineWidth: 2
          })
          plot2d.drawArrow(ctx, {
            x0: 0,
            y0: y,
            x1: 0,
            y1: y + F_N * scaleForce * scale,
            color: 3,
            lineWidth: 2
          })
          plot2d.drawArrow(ctx, {
            x0: 0,
            y0: y,
            x1: 0,
            y1: y - F_N * scaleForce * scale,
            color: 3,
            lineWidth: 2
          })
          plot2d.drawArrow(ctx, {
            x0: 0,
            y0: y,
            x1: F_R * scaleForce * scale,
            y1: y,
            color: 7,
            lineWidth: 2
          })
        }
      }
      ctx.restore()
    }

    // update graph legend
    function updateLegend() {
      let lgd = []
      calcAcceleration(0, x, v)
      if (displayForces.value === 1) {
        lgd = [{ color: 7, lineStyle: 1, lineWidth: 2, math: 'vec F_("res")' }]
      } else if (displayForces.value === 2) {
        if (F_T > 0) lgd.push({ color: 1, lineStyle: 1, lineWidth: 2, math: 'vec F_("T")' })
        if (F_H !== 0) lgd.push({ color: 2, lineStyle: 1, lineWidth: 2, math: 'vec F_("H")' })
        if (F_N !== 0) {
          lgd.push(
            { color: 3, lineStyle: 1, lineWidth: 2, math: 'vec F_("N")' },
            { color: 3, lineStyle: 1, lineWidth: 2, math: 'vec F_("el")' }
          )
        }
        if (friction.value !== 0) { lgd.push({ color: 7, lineStyle: 1, lineWidth: 2, math: 'vec F_("R")' }) }
      }
      legend.legend = lgd
    }

    // add light barrier
    function addLightBarrier() {
      for (const barrier of lightBarriers) {
        if (barrier.pos === newBarrierPos.value) return
      }
      lightBarriers.push({ pos: newBarrierPos.value, t0: 0, t1: 0 })
      lightBarriers.sort((a, b) => a.pos > b.pos)
      drawBackground()
      drawForeground()
      renderBarrierTable()
      if (newBarrierPos.value < 90) newBarrierPos.value += 10
    }

    // delete light barrier
    function deleteLightBarrier(i) {
      lightBarriers.splice(i, 1)
      newBarrierPos.value = 10
      drawForeground()
      drawBackground()
      renderBarrierTable()
    }

    // start animation
    function start() {
      state.value = sRunning
      setTimeout(animate, 1000 * dt)
    }

    // animate one step
    function step() {
      animate(true)
      if (state.value !== sDone) state.value = sPaused
    }

    // pause animation
    function pause() {
      state.value = sPaused
      drawForeground()
      updateValues()
    }

    // reset app
    function reset() {
      stroboPositions = switchStrobo.value ? [0] : []
      lightBarriers.forEach(barrier => { barrier.t0 = 0; barrier.t1 = 0 })
      state.value = sInit
      readParams()
      drawForeground()
      drawBackground()
      updateValues()
      updateGui()
      if (switchBarriers.value) renderBarrierTable()
    }

    // Animation step
    function animate(singleStep = false) {
      if (state.value !== sRunning && !singleStep) return
      // perfom 10 integration steps to increase accuracy
      const n = 10
      for (let i = 0; i < n; i++) {
        const xOld = x
        const vOld = v
        const a = calcAcceleration(time, x, v)
        v += dt * a / n
        x += dt * v / n
        time += dt / n
        // reached end?
        if (x <= 0 && v <= 0) {
          x = 0
          v = 0
          state.value = sDone
          break
        }
        if (x >= 1 && v >= 0) {
          x = 1
          v = 0
          state.value = sDone
          break
        }
        // standstill moving left to right
        if (setup.value === 0 && vOld > 0 && v <= 0) {
          v = 0
          if (willStart() >= 0) {
            // stick due to friction
            v = 0
            F_R = -(F_H + F_T)
            state.value = sDone
            break
          } else {
            // change direction
            v = -1E-50
          }
        }
        // standstill moving right to left
        if (setup.value === 1 && v > 0) {
          v = 0
          F_R = -(F_H + F_T)
          state.value = sDone
          break
        }
        // take strobo picture ?
        if (switchStrobo.value) {
          const n0 = Math.floor(time / dtStrobo)
          const n1 = Math.floor((time - dt / n) / dtStrobo)
          if (n0 !== n1) {
            stroboPositions.push(x)
            drawWagon(background.getContext('2d'), x, true)
          }
        }
        // flag crosses light barrier?
        const b = bFlag.value / 1000
        for (const barrier of lightBarriers) {
          const pos = barrier.pos / 100
          if ((xOld < pos && x >= pos) || (xOld > pos && x <= pos)) {
            const tInterpolate = time - (dt * (x - pos)) / (x - xOld)
            barrier.t0 = tInterpolate.toFixed(2)
            if (simMode.value === 1) barrier.t0 = time * (0.95 + 0.1 * Math.random())
            const vInterpolate = (vOld * (x - pos) + v * (pos - xOld)) / (x - xOld)
            barrier.t1 = Math.abs(b / vInterpolate)
            if (simMode.value === 1) barrier.t1 *= (0.95 + 0.1 * Math.random())
            renderBarrierTable()
          }
        }
      }
      drawForeground()
      updateValues()
      if (state.value === sRunning) setTimeout(animate, 1000 * dt)
    }

    // calc acceleration
    function calcAcceleration(t, x, v) {
      const m = mass.value * 1e-3
      F_T = setup.value === 0 ? fTract.value * 1e-3 : 0
      F_H = -g * m * sin
      F_N = g * m * cos
      F_R = 0
      if (friction.value === 1 || friction.value === 3) {
        F_R -= F_N * mur.value * Math.sign(v)
      }
      if (friction.value === 2 || friction.value === 3) {
        F_R -= 0.5 * hW * hW * cw * rho * v * v * Math.sign(v)
      }
      Fres = F_T + F_H + F_R
      const a = Fres / m
      return a
    }

    // check if wagon will start moving from stillstand
    function willStart() {
      const m = mass.value * 1e-3
      const F_T = setup.value === 0 ? fTract.value * 1e-3 : 0
      const F_H = g * m * sin
      const F_N = g * m * cos
      const F_R = friction.value === 1 || friction.value === 3 ? F_N * mur.value : 0
      if (F_T - F_H - F_R > 0 && x < 1) return 1 // moving upwards
      else if (F_H > F_R + F_T && x > 0) return -1 // moving downwards
      else return 0
    }

    // Show values
    function updateValues() {
      displayTime.value = time
      displayX.value = Math.max(0, x)
    }

    // dimensions of cards or theme changed → repaint
    function repaint() {
      if (pageTitle.tabIndex > 0) return
      foreground.remove()
      background.remove()
      plot2d.updateColors()
      init(true)
    }

    // Download values in CSV Format
    function saveData() {
      const data = [['x / m', 't / s', 'Δt / s']]
      for (const barrier of lightBarriers) {
        const set = [barrier.pos / 100, '-', '-']
        if (barrier.t0 > 0) set[1] = Number(barrier.t0).toFixed(2)
        if (barrier.t1 > 0) set[2] = Number(barrier.t1).toPrecision(3)
        data.push(set)
      }
      modalDownloadFile.open({ type: 'csv', data })
    }
  </script>
</body>

</html>