<!DOCTYPE html>
<html>

<head>
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-spectrum">
  <page-title id="page-title" data-title="Spectrum.title" data-subtitle="Spectrum.subtitle" data-tabs="General.simulation, General.information"></page-title>
  <main class="container">
    <text-block data-tab-index="1" data-text="infos/spectrum"></text-block>
    <mint-card-container data-tab-index="0" id="mint-card-container">
      <mint-card data-title="General.settings">
        <form class="form-container">
          <mint-label for="setup" data-text="Physics.setup"></mint-label>
          <input-select id="setup" data-options="Spectrum.setup-0,Spectrum.setup-1,Spectrum.setup-2,Spectrum.setup-3"></input-select>
          <mint-label for="T" data-text="Physics.temperature" data-unit="K"></mint-label>
          <input-number id="T" data-min="2000" data-max="5800" data-step="5" data-slider></input-number>
          <mint-label for="gas"></mint-label>
          <input-select id="gas" data-options="Substances.H2,Substances.He,Substances.Na,Substances.Hg"></input-select>
          <mint-label for="led" data-text="Spectrum.led"></mint-label>
          <input-select v-if="setup === 2" id="led" data-options="Spectrum.led-0,Spectrum.led-1,Spectrum.led-2"></input-select>
          <mint-label class="wide-label" for="scaleIntensity" data-text="Spectrum.scale-intensity"></mint-label>
          <input-switch id="scaleIntensity"></input-switch>
        </form>
      </mint-card>
      <mint-card data-title="General.card-setup">
        <div id="divSetup" class="w-100 max-width-500"></div>
        <canvas-caption id="caption"></canvas-caption>
      </mint-card>

      <mint-card data-title="Spectrum.visible-spectrum">
        <div id="divScreen" class="screen"></div>
        <p data-md-inline="Spectrum.visible-info"></p>
      </mint-card>
      <mint-card data-title="Spectrum.spectral-dist">
        <canvas-graph id="graph" data-ratio="0.7" data-show-point></canvas-graph>
      </mint-card>
    </mint-card-container>
  </main>


  <script type="module">
    import '../modules/main.js'
    import '../components/page-title.js'
    import '../components/text-block.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/canvas-caption.js'
    import '../components/canvas-graph.js'
    import { gid } from '../modules/utils.js'
    import * as plot2d from '../modules/plot-2d.js'
    import { wavelength2rgb } from '../modules/physics.js'
    import * as color from '../modules/color.js'
    import { gasLines, ledLines } from '../modules/mint-spectrum.js'

    // constants
    const c = 2.998e8
    const k = 1.380649e-23
    const h = 6.626e-34
    const labels = [
      '1: Physics.light-source, 2: Physics.slit-diaphragm, 3: Physics.prism, 4: Physics.screen',
      '1: Spectrum.setup-1,2: Physics.slit-diaphragm, 3: Physics.prism, 4: Physics.screen',
      '1: Spectrum.setup-2, 2: Physics.slit-diaphragm, 3: Physics.prism, 4: Physics.screen',
      '1: Physics.light-source, 2: Physics.slit-diaphragm, 3: Physics.prism, 4: Physics.screen, 5: Spectrum.absorb-gas'
    ]

    // variables
    let canvasScreen, widthScreen, heightScreen // canvas representing screen
    let canvasSetup, widthSetup, heightSetup // canvas representing setup
    let intensityMax = 0
    let lambdaMin = 0
    let lambdaMax = 1500

    // references
    const mintCardContainer = gid('mint-card-container')
    const graph = gid('graph')
    const divScreen = gid('divScreen')
    const pageTitle = gid('page-title')
    const scaleIntensity = gid('scaleIntensity', false)
    const T = gid('T', 5000)
    const setup = gid('setup', 0)
    const gas = gid('gas', 0)
    const led = gid('led', 0)
    const caption = gid('caption')
    const divSetup = gid('divSetup')

    // events
    mintCardContainer.onrepaint = repaint
    for (const e of [setup, T, gas, led, scaleIntensity]) e.oninput = paramsChanged

    // start
    updateGui()
    init()

    // init app
    function init() {
      plot2d.init()
      // canvas for screen
      widthScreen = divScreen.clientWidth
      heightScreen = divScreen.clientHeight
      canvasScreen = plot2d.createCanvas(divScreen, widthScreen, heightScreen, 'canvas')
      canvasScreen.style.backgroundColor = '#000000'
      // canvas for setup
      widthSetup = divSetup.clientWidth
      heightSetup = Math.round((4.5 / 9) * widthSetup)
      divSetup.style.height = heightSetup + 'px'
      canvasSetup = plot2d.createCanvas(divSetup, widthSetup, heightSetup, 'canvas-spectrum', true)
      drawSetup()
      paramsChanged()
    }

    // update gui
    function updateGui() {
      T.showIf(setup.value === 0 || setup.value === 3)
      gas.showIf(setup.value === 1 || setup.value === 3)
      gas.setAttribute('data-text', setup.value === 1 ? 'Spectrum.fill-gas' : 'Spectrum.absorb-gas')
      scaleIntensity.showIf(setup.value === 0 || setup.value === 3)
      caption.setAttribute('data-labels', labels[setup.value])
    }

    // params changed
    function paramsChanged() {
      intensityMax = 0
      if (setup.value === 0) {
        lambdaMin = 0
        lambdaMax = 1200
      } else if (setup.value === 1 || setup.value === 2 || setup.value === 3) {
        lambdaMin = 380
        lambdaMax = 780
      }
      for (let lambda = lambdaMin; lambda < lambdaMax; lambda++) {
        intensityMax = Math.max(intensityMax, calcIntensity(lambda * 1e-9, scaleIntensity.value ? T.value : 5800))
      }
      plot()
      drawScreen()
      drawSetup()
      updateGui()
    }

    // calculate interference amplitude psi and intergrate psi²
    function drawScreen() {
      // draw screen
      const ctx = canvasScreen.getContext('2d')
      plot2d.fillCanvas(canvasScreen, 'black')
      for (let pixelX = 0; pixelX <= widthScreen; pixelX++) {
        const lambda = 380e-9 + ((780e-9 - 380e-9) * pixelX) / widthScreen
        const rgb = wavelength2rgb(lambda)
        let brightness = calcIntensity(lambda, T.value) / intensityMax
        brightness = Math.pow(brightness, 0.7) // increase dark regions
        const col = color.rgbToHex(rgb.r * brightness, rgb.g * brightness, rgb.b * brightness)
        ctx.strokeStyle = col
        ctx.beginPath()
        ctx.moveTo(pixelX, 0)
        ctx.lineTo(pixelX, heightScreen)
        ctx.stroke()
      }
    }

    // draw setup
    function drawSetup() {
      plot2d.clearCanvas(canvasSetup)
      const ctx = canvasSetup.getContext('2d')
      const s = widthSetup / 9
      const fs = plot2d.getFontSizeText()
      // lights source
      plot2d.drawDisc(ctx, { x: 1 * s, y: 3.5 * s, r: 0.5 * s, color: 4, lineWidth: 2, fillColor: 6 })
      plot2d.drawText(ctx, { x: 1 * s - 0.3 * fs, y: 3 * s - 0.3 * fs, text: '1', color: 4 })
      // diaphragm
      plot2d.drawLine(ctx, { x0: 1.6 * s, y0: 1.7 * s, x1: 2.1 * s, y1: 2.6 * s, lineWidth: 4, color: 4 })
      plot2d.drawLine(ctx, { x0: 2.3 * s, y0: 3.0 * s, x1: 2.8 * s, y1: 3.9 * s, lineWidth: 4, color: 4 })
      plot2d.drawText(ctx, { x: 2.6 * s, y: 4 * s + fs, text: '2', color: 4 })
      // prism (using plain ctx methods)
      ctx.lineWidth = 2
      ctx.fillStyle = '#a0a0ff'
      ctx.beginPath()
      ctx.moveTo(4.5 * s, 0.5 * s)
      ctx.lineTo(6.0 * s, 3.0 * s)
      ctx.lineTo(3.0 * s, 3.0 * s)
      ctx.lineTo(4.5 * s, 0.5 * s)
      ctx.fill()
      ctx.stroke()
      plot2d.drawText(ctx, { text: '3', x: 4.5 * s - 0.3 * fs, y: 3.0 * s + fs, color: 4 })
      // absorber
      if (setup.value === 3) {
        plot2d.drawRect(ctx, { x: 6.5 * s, y: 0.5 * s, width: 1 * s, height: 2 * s, lineWidth: 1, color: 4, fillColor: 3 })
        plot2d.drawText(ctx, { text: '5', x: 7 * s - 0.3 * fs, y: 2.5 * s + fs, color: 4 })
      }
      // screen
      plot2d.drawRect(ctx, { x: 8.4 * s, y: 0.5 * s, width: 0.2 * s, height: 2 * s, lineWidth: 0, fillColor: 3 })
      plot2d.drawText(ctx, { text: '4', x: 8.5 * s - 0.3 * fs, y: 3 * s, color: 4 })
      for (let y = 1 * s; y < 2 * s; y++) {
        const lambda = 780e-9 - ((780e-9 - 380e-9) * (y - 1 * s)) / s
        const rgb = wavelength2rgb(lambda)
        const col = color.rgbToHex(rgb.r, rgb.g, rgb.b)
        plot2d.drawLine(ctx, { x0: 8.4 * s, y0: y, x1: 8.6 * s, y1: y, lineWidth: 1, color: col })
      }
      // beams
      plot2d.drawLine(ctx, { x0: 1.4 * s, y0: 3.3 * s, x1: 3.7 * s, y1: 1.9 * s, lineWidth: 2, color: 4 })
      plot2d.drawLine(ctx, { x0: 5.1 * s, y0: 1.5 * s, x1: 3.7 * s, y1: 1.9 * s, lineWidth: 2, color: 4 })
      plot2d.drawLine(ctx, { x0: 5.1 * s, y0: 1.5 * s, x1: 8.4 * s, y1: 1 * s, lineWidth: 2, color: 4 })
      plot2d.drawLine(ctx, { x0: 5.3 * s, y0: 1.8 * s, x1: 3.7 * s, y1: 1.9 * s, lineWidth: 2, color: 4})
      plot2d.drawLine(ctx, { x0: 5.3 * s, y0: 1.8 * s, x1: 8.4 * s, y1: 2 * s, lineWidth: 2, color: 4})
    }

    // plot function and points
    function plot() {
      graph.clear()
      graph.coords = {
        border: 1,
        x: { min: lambdaMin, max: lambdaMax, text: 'λ / unit(nm)', grid: 1 },
        y: { min: 0, max: intensityMax * 1.05, text: 'I / 10^(12) unit(W·m⁻²)', grid: 1 }
      }
      graph.addFunction({
        color: 1,
        lineWidth: 2,
        lineStyle: 1,
        text: 'Physics.intensity',
        f: (x) => {
          return calcIntensity(x * 1e-9, T.value)
        }
      })
      graph.plot()
    }

    // physical funtion
    function calcIntensity(lambda, temperature) {
      if (lambda <= 0) return 0
      // thermal light source
      let i = 0
      if (setup.value === 0 || setup.value === 3) {
        i =
          (1e-12 * 2 * Math.PI * h * c * c) /
          Math.pow(lambda, 5) /
          Math.exp((h * c) / lambda / k / temperature)
      }
      // absorption
      if (setup.value === 3) {
        const lines = gasLines[gas.value]
        for (const line of lines) {
          const sigma = line.w * 1e-9
          const lineLambda = line.l * 1e-9
          const d = Math.abs(lineLambda - lambda) / sigma
          i = i * (1 - Math.exp(-d * d))
        }
      }
      // emission spectrum gas / led
      if (setup.value === 1 || setup.value === 2) {
        const lines = setup.value === 1 ? gasLines[gas.value] : ledLines[led.value]
        for (const line of lines) {
          const sigma = line.w * 1e-9
          const lineLambda = line.l * 1e-9
          i +=
            (line.i *
              Math.exp(
                (-(lineLambda - lambda) * (lineLambda - lambda)) /
                2 /
                sigma /
                sigma
              )) /
            Math.sqrt(2 * Math.PI * sigma)
        }
      }
      return i
    }

    // repaint
    function repaint() {
      if (pageTitle.tabIndex > 0) return
      if (!canvasScreen) return
      canvasScreen.remove()
      canvasSetup.remove()
      plot2d.updateColors()
      init()
    }
  </script>
  <style>
    .screen {
      width:100%;
      height: 75px;
      margin-bottom: 1em;
      border: solid 1px gray;
      padding: 0;
    }
  </style>
</body>

</html>