<!DOCTYPE html>
<html>

<head>
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-wave-equation">
  <page-title data-title="WaveEquation.title" data-subtitle="WaveEquation.menu"></page-title>
  <main class="container">
    <mint-card-container id="mint-card-container">
      <mint-card data-title="General.card-params">
        <form class="form-container">
          <mint-label for="lambda" data-text="Physics.lambda" data-math="lambda" data-unit="cm"></mint-label>
          <input-number id="lambda" data-min="1" data-max="10" data-step="0.1"></input-number>
          <mint-label for="amplitude" data-text="Physics.amplitude" data-math="A" data-unit="cm"></mint-label>
          <input-number id="amplitude" data-min="1" data-max="3" data-step="0.1"></input-number>
          <mint-label for="period" data-text="Physics.period-duration" data-math="T" data-unit="s"></mint-label>
          <input-number id="period" data-min="0.5" data-max="5" data-step="0.1"></input-number>
          <mint-label for="position" data-text="Physics.position" data-math="x_0" data-unit="cm"></mint-label>
          <input-number id="position" data-slider data-min="0" data-max="10" data-step="0.1"></input-number>
          <mint-label for="waveType" data-text="WaveEquation.wave-type"></mint-label>
          <input-select id="waveType" data-options="WaveEquation.wave-type-0, WaveEquation.wave-type-1"></input-select>
          <mint-label for="outC" data-text="WaveEquation.propagation-speed" data-math="c" data-unit="cm·s⁻¹"></mint-label>
          <output-number id="outC" v-if="waveType == 0" data-precision="3"></output-number>
          <mint-label for="time" data-text="Physics.time" data-math="t" data-unit="s"></mint-label>
          <output-number data-precision="2" id="time"></output-number>
        </form>
        <div slot="footer">
          <state-buttons id="state" @start="start()" @cont="start()" @pause="pause()" @reset="reset()" />
        </div>
      </mint-card>
      <mint-card data-title="WaveEquation.card-vector">
        <canvas-graph id="graphV" data-ratio="0.5"></canvas-graph>
        <alert-box data-text="WaveEquation.info-card-vector"></alert-box>
      </mint-card>
      <mint-card data-title="WaveEquation.card-location">
        <canvas-graph id="graphX" data-ratio="0.5" data-show-point></canvas-graph>
        <alert-box data-text="WaveEquation.info-card-location"></alert-box>
      </mint-card>
      <mint-card data-title="Maths.function">
        <span id="term"></span>
      </mint-card>
    </mint-card-container>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/page-title.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/canvas-graph.js'
    import '../components/alert-box.js'
    import '../components/state-buttons.js'
    import { gid } from '../modules/utils.js'
    import { sInit, sRunning, sPaused } from '../modules/states.js'
    import { renderMath } from '../modules/asciimathml.js'
    import * as plot2d from '../modules/plot-2d.js'

    // constants
    const dt = 20e-3
    const coordsX = {
      x: { min: -1, max: 11, step: 1, text: 'x/unit(cm)' },
      y: { min: -3, max: 3, step: 1, text: 'y/unit(cm)' }
    }
    const coordsV = {
      x: { min: -6, max: 6, step: 1, text: '' },
      y: { min: -3, max: 3, step: 1, text: 'y/unit(cm)' }
    }

    // references
    const lambda = gid('lambda', 2)
    const amplitude = gid('amplitude', 3)
    const period = gid('period', 2.5)
    const position = gid('position', 0)
    const outC = gid('outC', 0)
    const state = gid('state', sInit)
    const waveType = gid('waveType', 0) // 0 progressive, 1 stationary
    const graphX = gid('graphX')
    const graphV = gid('graphV')
    const time = gid('time', 0)
    const term = gid('term')

    // events
    for (const e of [lambda, amplitude, period, waveType]) e.oninput = () => {
      reset()
      paramsChanged()
    }
    position.oninput = paramsChanged
    state.onstart = start
    state.oncont = cont
    state.onpause = pause
    state.onreset = reset

    // start
    init()

    // init app
    function init() {
      plot2d.init()
      graphX.coords = coordsX
      graphV.coords = coordsV
      paramsChanged()
    }

    // params changed by user
    function paramsChanged() {
      if (waveType.value === 0) {
        term.innerHTML = renderMath(`y(t,x)=${amplitude.value}unit(cm)*sin(2*pi*(t/(${plot2d.formatNumber(period.value)}unit(s))-x/(${plot2d.formatNumber(lambda.value)}unit(cm))))`)
      } else {
        term.innerHTML = renderMath(`y(t,x)=${amplitude.value}unit(cm)*sin(2*pi*t/(${plot2d.formatNumber(period.value)}unit(s)))*cos(2*pi*x/(${plot2d.formatNumber(lambda.value)}unit(cm))))`)
      }
      outC.showIf(waveType.value === 0)
      outC.value = lambda.value / period.value
      plot()
    }

    // start animation
    function start() {
      time.value = 0
      animate()
    }

    // continue animation
    function cont() {
      animate()
    }

    // pause animation
    function pause() {
      state.value = sPaused
    }

    // reset animation
    function reset() {
      time.value = 0
      state.value = sInit
      plot()
    }

    // animation step
    function animate() {
      if (state.value !== sRunning) return
      time.value += dt
      plot()
      setTimeout(animate, dt * 1000)
    }

    // plot
    function plot() {
      const l = lambda.value
      const T = period.value
      const x = position.value
      const ti = time.value
      graphX.clear()
      graphV.clear()
      // propagating wave
      if (waveType.value === 0) {
        const phi = Math.PI * 2 * (-x / l + ti / T)
        graphX.addFunction({
          color: 1,
          lineWidth: 2,
          lineStyle: 1,
          math: 'y(t, x)',
          f: (x) => {
            const y = amplitude.value * Math.sin(Math.PI * 2 * (-x / l + ti / T))
            return y
          }
        })
        graphX.addPoint({ x, y: amplitude.value * Math.sin(phi), color: 2 })
        graphV.addVector({
          x0: 0,
          y0: 0,
          x1: amplitude.value * Math.cos(phi),
          y1: amplitude.value * Math.sin(phi),
          color: 2,
          lineWidth: 2,
          math: 'hat y(t, x)'
        })
        graphV.addCircle({ x: 0, y: 0 , r: amplitude.value, lineStyle: 2, lineWidth: 1, color: 3})
      // standing wave
      } else {
        const at = amplitude.value * Math.sin((Math.PI * 2 * ti) / T)
        graphX.addFunction({
          color: 1,
          lineWidth: 2,
          lineStyle: 1,
          math: 'y(t, x)',
          f: (x) => {
            const y = at * Math.cos((Math.PI * 2 * x) / l)
            return y
          }
        })
        graphX.addPoint({
          x,
          y: at * Math.cos((Math.PI * 2 * x) / l),
          color: 2
        })
        const ax = amplitude.value * Math.cos((Math.PI * 2 * x) / l)
        graphV.addVector({
          x0: 0,
          y0: 0,
          x1: ax * Math.cos((Math.PI * 2 * ti) / T),
          y1: ax * Math.sin((Math.PI * 2 * ti) / T),
          color: 2,
          lineWidth: 2,
          math: 'hat y(t, x)'
        })
        graphV.addCircle({ x: 0, y: 0 , r: Math.abs(ax), lineStyle: 2, lineWidth: 1, color: 3})
      }
      graphX.addLine({
        x0: x,
        y0: -3,
        x1: x,
        y1: 3,
        color: 7,
        lineWidth: 2,
        lineStyle: 2,
        text: 'Physics.position',
        math: 'x_0'
      })
      graphX.plot()
      graphV.plot()
    }
  </script>
</body>

</html>