<!DOCTYPE html>
<html>

<head>
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-atwood">
  <page-title id="page-title" data-title="Atwood.title" data-subtitle="Atwood.menu" data-tabs="General.simulation, General.information"></page-title>
  <main class="container">

    <text-block data-tab-index="1" data-text="infos/atwood"></text-block>

    <mint-card-container data-tab-index="0" id="mint-card-container">
      <mint-card data-title="General.card-params">
        <form class="form-container">
          <mint-label for="mass1" data-text="Physics.mass" data-math="m_1" data-unit="g"></mint-label>
          <input-number id="mass1" data-min="1" data-max="500" data-step="1"></input-number>
          <mint-label for="mass2" data-text="Physics.mass" data-math="m_2" data-unit="g"></mint-label>
          <input-number id="mass2" data-min="1" data-max="500" data-step="1"></input-number>
          <mint-label for="massP" data-text="Atwood.massP" data-math="m_text(P)" data-unit="g"></mint-label>
          <input-number v-if="model==1" id="massP" data-min="1" data-max="500" data-step="1"></input-number>
          <mint-label for="radiusP" data-text="Atwood.radiusP" data-math="r_text(p)" data-unit="cm"></mint-label>
          <input-number v-if="model==1" id="radiusP" data-min="5" data-max="10" data-step="1"></input-number>
          <mint-label for="massS" data-text="Atwood.massS" data-math="m_text(s)" data-unit="g"></mint-label>
          <input-number v-if="model==1" id="massS" data-min="1" data-max="100" data-step="1"></input-number>
          <mint-label for="friction" data-text="Physics.friction" data-math="tau_text(f)" data-unit="mN·m⁻¹"></mint-label>
          <input-number v-if="model==1" id="friction" data-min="0" data-max="100" data-step="0.1"></input-number>
          <mint-label for="outputH" data-text="Atwood.height" data-unit="cm"></mint-label>
          <output-number id="outputH" data-fixed="1"></output-number>
          <mint-label for="outputTime" data-text="Physics.time" data-unit="s"></mint-label>
          <output-number id="outputTime" data-fixed="2"></output-number>
          <mint-label for="outputA" data-text="Physics.acceleration" data-unit="m·s⁻²"></mint-label>
          <output-number id="outputA" data-precision="3"></output-number>
          <mint-label for="model" data-text="General.model"></mint-label>
          <input-select id="model" data-options="General.idealized, General.realistic"></input-select>
          <mint-label for="speed" data-text="General.simulation-speed"></mint-label>
          <input-slider id="speed" data-min="0.1" data-max="1" data-step="0.01"></input-slider>
          <mint-label for="diagramm" data-text="Physics.display-time-dependency"></mint-label>
          <input-select id="diagramm" data-options="–, Physics.position, Physics.velocity, Physics.acceleration, Physics.energy"></input-select>
          <mint-label for="force" data-text="Physics.display-forces"></mint-label>
          <input-select id="force" data-options="–, Physics.resulting-force, Atwood.force-2"></input-select>
        </form>
        <alert-box id="alert-message" data-type="warning" data-hide></alert-box>
        <div slot="footer">
          <state-buttons id="state"></state-buttons>
        </div>
      </mint-card>
      <mint-card id="card-diagramm" data-hide data-title="General.diagramm">
        <canvas-graph id="graph" data-ratio="0.6" data-auto-scale data-show-point></canvas-graph>
      </mint-card>
      <mint-card data-title="General.card-experiment">
        <div class="pos-relative">
          <graph-legend id="legend"></graph-legend>
          <div id="divAnimate" class="w-100"></div>
        </div>
      </mint-card>
    </mint-card-container>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/page-title.js'
    import '../components/text-block.js'
    import '../components/alert-box.js'
    import '../components/graph-components.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/canvas-graph.js'
    import '../components/state-buttons.js'
    import { gid } from '../modules/utils.js'
    import * as plot2d from '../modules/plot-2d.js'
    import * as color from '../modules/color.js'
    import { rungeKutta2 } from '../modules/math.js'
    import { sInit, sRunning, sPaused, sDone } from '../modules/states.js'

    // constants    
    const g = 9.81
    const l = 1 // length of rope
    const dt = 1 / 30 // maximum value for integration, might slow down sim on slow machines

    // variables
    let v, x // current values for velocity and position
    let time // current time in seconds
    let scale // scaling factor for display
    let canvas
    let width, height // width and height of canvas
    let colors
    let idealAcceleration, idealTime, idealEnergy
    let previousTimeStamp

    // references
    const mintCardContainer = gid('mint-card-container')
    const pageTitle = gid('page-title')
    const mass1 = gid('mass1', 50) // mass 1
    const mass2 = gid('mass2', 100) // mass 2
    const massP = gid('massP', 50) // mass pulley
    const massS = gid('massS', 10) // mass string
    const radiusP = gid('radiusP', 10) // radius pulley
    const friction = gid('friction', 0) // torque friction
    const model = gid('model', 0) // 0 simple, 1 realistic
    const outputA = gid('outputA', 0) // ui value for acceleration
    const outputH = gid('outputH', 0) // ui value for height
    const outputTime = gid('outputTime', 0) // ui value for time
    const message = gid('alert-message') // info message to user
    const speed = gid('speed', 0.5) // simulation speed
    const force = gid('force', 0) // display forces
    const diagramm = gid('diagramm', 0) // diagramm type
    const state = gid('state', sInit) // state of app
    const divAnimate = gid('divAnimate') // animation region
    const graph = gid('graph') // optional graph
    const legend = gid('legend') // legend
    const cardDiagramm = gid('card-diagramm')

    // events
    mintCardContainer.onrepaint = repaint
    for (const e of [mass1, mass2, massP, massS, radiusP, friction, force, model, diagramm]) e.oninput = paramsChanged
    state.onstart = start
    state.oncont = cont
    state.onpause = pause
    state.onreset = reset
    pageTitle.ontab = () => state.pause()

    // start
    updateGui()
    init()

    // Initialize variables and canvas
    function init() {
      plot2d.init()
      state.value = sInit
      colors = color.getColors()
      initCanvas()
      paramsChanged()
      drawSetup()
    }

    // Init canvas
    function initCanvas() {
      const size = divAnimate.clientWidth
      width = size; height = Math.round(0.9 * size)
      scale = width
      divAnimate.style.height = height + 'px'
      canvas = plot2d.createCanvas(divAnimate, width, height, 'canvas', true)
    }

    // Update gui
    function updateGui() {
      massP.showIf(model.value === 1)
      radiusP.showIf(model.value === 1)
      massS.showIf(model.value === 1)
      friction.showIf(model.value === 1)
      cardDiagramm.showIf(diagramm.value > 0)
    }

    // Params have been changed
    function paramsChanged() {
      message.hide()
      stop()
      x = 0
      v = 0
      time = 0
      outputTime.value = 0
      outputA.value = 0
      outputH.value = 0
      graph?.clear()
      drawSetup()
      initGraph()
      updateGui()
      switch (force.value) {
        case 0:
          legend.hide()
          break;
        case 1:
          legend.render([
            { color: 7, lineStyle: 1, lineWidth: 2, math: 'vec F_("res",1)' },
            { color: 7, lineStyle: 2, lineWidth: 2, math: 'vec F_("res",2)' }
          ])
          break
        case 2:
          legend.render([
            { color: 1, lineStyle: 1, lineWidth: 2, math: 'vec F_("s",1)' },
            { color: 1, lineStyle: 2, lineWidth: 2, math: 'vec F_("s",2)' },
            { color: 2, lineStyle: 1, lineWidth: 2, math: 'vec F_("g",1)' },
            { color: 2, lineStyle: 2, lineWidth: 2, math: 'vec F_("g",2)' }
          ])
          break;
      }
      if (calcAcceleration(time, x, v) <= 0) {
        state.value = sDone
        message.show('Physics.not-moving')
      }
    }

    // Init graph
    async function initGraph() {
      if (diagramm.value === 0) return
      idealAcceleration = g * (mass2.value - mass1.value) / (mass1.value + mass2.value)
      idealTime = Math.sqrt(1 / idealAcceleration)
      idealEnergy = g * mass2.value * 1E-3 * 0.5
      const coords = {}
      coords.x = { min: 0, max: 1.05 * idealTime, grid: 1, text: 't / unit(s)' }
      // set correct coordinate system
      if (diagramm.value === 1) coords.y = { min: -0.05, max: 0.55, text: 'h / unit(m)' }
      if (diagramm.value === 2) coords.y = { min: -0.1, max: 1.05 * idealAcceleration * idealTime, text: '|v| / unit(m·s⁻¹)"' }
      if (diagramm.value === 3) coords.y = { min: -0.05 * idealAcceleration, max: 1.2 * idealAcceleration, text: '|a| / unit(m·s⁻²)' }
      if (diagramm.value === 4) coords.y = { min: -0.05 * idealEnergy, max: 1.05 * idealEnergy, text: 'E / unit(J)' }
      if (coords.y) coords.y.grid = 1
      if (graph) {
        graph.clear()
        graph.coords = coords
        // start traces
        if (diagramm.value < 4) {
          if (model.value === 0) {
            graph.addTrace({ color: 1, lineWidth: 2, lineStyle: 1 })
          } else {
            graph.addTrace({ color: 1, lineWidth: 2, lineStyle: 1, text: 'General.realistic' })
            graph.addTrace({ color: 3, lineWidth: 1, lineStyle: 1, text: 'General.idealized' })
          }
        } else {
          graph.addTrace({ color: 1, lineWidth: 2, lineStyle: 1, math: 'E_("pot")' })
          graph.addTrace({ color: 2, lineWidth: 2, lineStyle: 1, math: 'E_("kin")' })
          graph.addTrace({ color: 7, lineWidth: 2, lineStyle: 1, math: 'E_("rot")' })
          graph.addTrace({ color: 4, lineWidth: 2, lineStyle: 1, math: 'E_("tot")' })
        }
        graph.plot()
      }
    }

    // draw background
    function drawSetup() {
      const ctx = canvas.getContext('2d')
      const fs = plot2d.getFontSizeText()
      const rP = radiusP.value * 1E-2
      ctx.clearRect(0, 0, width, height)
      // rope
      const l0 = 0.5 * (0.5 * l - rP * Math.PI)
      const y0 = scale * 0.1 + 1
      const y1 = y0 + scale * (l0 + 0.5 * l - x)
      const y2 = y0 + scale * (l0 + x)
      const x1 = scale * (0.5 - rP)
      const x2 = scale * (0.5 + rP)
      ctx.beginPath()
      ctx.lineWidth = 2
      ctx.strokeStyle = colors[3]
      ctx.moveTo(x1, y0)
      ctx.lineTo(x1, y1)
      ctx.moveTo(x2, y0)
      ctx.lineTo(x2, y2)
      ctx.stroke()
      // floor
      ctx.beginPath()
      ctx.lineWidth = 3
      ctx.strokeStyle = colors[3]
      const yF = y0 + scale * (l0 + 0.5 * l + 0.1) + 2
      ctx.moveTo(0, yF)
      ctx.lineTo(width, yF)
      ctx.stroke()
      // mass pieces
      ctx.beginPath()
      ctx.lineWidth = 2
      ctx.strokeStyle = colors[4]
      ctx.fillStyle = colors[6]
      ctx.rect(x1 - 0.03 * scale, y1, 0.06 * scale, 0.1 * scale)
      ctx.rect(x2 - 0.03 * scale, y2, 0.06 * scale, 0.1 * scale)
      ctx.fill()
      ctx.stroke()
      plot2d.drawText(ctx, { x: x1 - 0.3 * fs, y: y1 + fs, text: '1', color: 4 })
      plot2d.drawText(ctx, { x: x2 - 0.3 * fs, y: y2 + fs, text: '2', color: 4 })
      // pulley wheel
      ctx.beginPath()
      ctx.lineWidth = 2
      ctx.fillStyle = colors[6]
      ctx.strokeStyle = colors[4]
      ctx.arc(scale * 0.5, y0, scale * rP, 0, 2 * Math.PI)
      ctx.fill()
      ctx.stroke()
      ctx.beginPath()
      ctx.fillStyle = colors[4]
      ctx.arc(scale * 0.5, y0, scale * 0.01, 0, 2 * Math.PI)
      ctx.fill()
      // pulley spokes
      ctx.beginPath()
      ctx.lineWidth = 1
      const alpha0 = x / rP
      for (let i = 0; i < 8; i++) {
        const alpha = Math.PI * i / 4 + alpha0
        const cos = Math.cos(alpha)
        const sin = Math.sin(alpha)
        ctx.moveTo(scale * (0.5 + 0.8 * rP * cos), y0 + scale * 0.8 * rP * sin)
        ctx.lineTo(scale * (0.5 + rP * cos), y0 + scale * rP * sin)
        ctx.stroke()
      }
      // forces
      if (force.value > 0) {
        const a = calcAcceleration(time, x, v)
        const F1 = a * mass1.value * 1E-3
        const F2 = a * mass2.value * 1E-3
        if (force.value === 1) {
          plot2d.drawArrow(ctx, { x0: x2, y0: y2 + 0.05 * scale, x1: x2, y1: y2 + 0.05 * scale + 100 * F2, color: 7, lineWidth: 2, lineStyle: 2 })
          plot2d.drawArrow(ctx, { x0: x1, y0: y1 + 0.05 * scale, x1, y1: y1 + 0.05 * scale - 100 * F1, color: 7, lineWidth: 2, lineStyle: 1 })
        } else if (force.value === 2) {
          const Fg1 = g * mass1.value * 1E-3
          const Fg2 = g * mass2.value * 1E-3
          plot2d.drawArrow(ctx, { x0: x2, y0: y2 + 0.05 * scale, x1: x2, y1: y2 + 0.05 * scale + 100 * (F2 - Fg2), color: 1, lineWidth: 2, lineStyle: 2 })
          plot2d.drawArrow(ctx, { x0: x2, y0: y2 + 0.05 * scale, x1: x2, y1: y2 + 0.05 * scale + 100 * (Fg2), color: 2, lineWidth: 2, lineStyle: 2 })
          plot2d.drawArrow(ctx, { x0: x1, y0: y1 + 0.05 * scale, x1, y1: y1 + 0.05 * scale - 100 * (F1 + Fg1), color: 1, lineWidth: 2, lineStyle: 1 })
          plot2d.drawArrow(ctx, { x0: x1, y0: y1 + 0.05 * scale, x1, y1: y1 + 0.05 * scale + 100 * (Fg1), color: 2, lineWidth: 2, lineStyle: 1 })
        }
      }
    }

    // start animation
    async function start() {
      if (state.value !== sPaused) initGraph()
      state.value = sRunning
      previousTimeStamp = 0
      requestAnimationFrame(animate)
    }

    // stop animation
    function stop() {
      state.value = sInit
    }

    // pause & continue animation
    function pause() {
      state.value = sPaused
    }

    // continue animation
    function cont() {
      state.value = sRunning
      previousTimeStamp = 0
      requestAnimationFrame(animate)
    }

    // reset app
    function reset() {
      stop()
      paramsChanged()
      drawSetup()
    }

    // Animation step
    function animate(timeStamp) {
      if (state.value !== sRunning) return
      if (x >= 0.5 * l) return stop()
      // determine integration step
      let h = 1E-3 * (timeStamp - previousTimeStamp) * speed.value
      if (h > dt) h = dt
      previousTimeStamp = timeStamp
      // start trace for t=0
      if (graph && time === 0) updateGraph(time, x, v);
      // integrate
      [time, x, v] = rungeKutta2(time, x, v, h, calcAcceleration)
      if (x < 0 || v === 0) {
        state.value = sDone
        message.value = 'Physics.not-moving'
        x = 0
      } else {
        if (graph) updateGraph(time, x, v)
        if (x >= 0.5 * l) {
          x = 0.5 * l
          state.value = sDone
        }
        drawSetup()
        outputA.value = calcAcceleration(time, x, v)
        outputH.value = x * 100
        outputTime.value = time
        requestAnimationFrame(animate)
      }
    }

    // update graph
    function updateGraph(time, x, v) {
      if (diagramm.value === 1) {
        graph.addToTrace(0, { x: time, y: x })
        if (model.value === 1 && time <= idealTime) graph.addToTrace(1, { x: time, y: 0.5 * idealAcceleration * time ** 2 })
      }
      if (diagramm.value === 2) {
        graph.addToTrace(0, { x: time, y: Math.abs(v) })
        if (model.value === 1 && time <= idealTime) graph.addToTrace(1, { x: time, y: idealAcceleration * time })
      }
      if (diagramm.value === 3) {
        graph.addToTrace(0, { x: time, y: Math.abs(calcAcceleration(time, x, v)) })
        if (model.value === 1 && time <= idealTime) graph.addToTrace(1, { x: time, y: idealAcceleration })
      }
      if (diagramm.value === 4) {
        const energy = calcEnergy(x, v)
        graph.addToTrace(0, { x: time, y: energy.pot })
        graph.addToTrace(1, { x: time, y: energy.kin })
        graph.addToTrace(2, { x: time, y: energy.rot })
        graph.addToTrace(3, { x: time, y: energy.tot })
      }
      graph.plot()
    }
    // calc acceleration, depending on elongation x
    // eslint-disable-next-line no-unused-vars
    function calcAcceleration(t, x, v) {
      // simple model
      let m1 = mass1.value * 1E-3
      let m2 = mass2.value * 1E-3
      let mP = 0
      let tauR = 0
      const rP = radiusP.value * 1E-2
      // realistic model
      if (model.value === 1) {
        // increase effective masses
        const lP = rP * Math.PI // part of string lying on pulley
        const l0 = l - lP // free part of string
        const l1 = 0.5 * l0 + 0.25 * l - x // free part left side
        const l2 = 0.5 * l0 - 0.25 * l + x // free part right side
        m1 += massS.value * 1E-3 * l1 / l
        m2 += massS.value * 1E-3 * l2 / l
        mP += massP.value * 1E-3 + massS.value * 1E-3 * lP / l
        tauR = friction.value * 1E-3
      }
      const a = (g * (m2 - m1) - tauR / rP) / (m1 + m2 + mP / 2)
      return a
    }

    function calcEnergy(x, v) {
      // simple model
      let pot = g * 1E-3 * (mass1.value * x + mass2.value * (0.5 * l - x))
      let kin = 0.5 * 1E-3 * (mass1.value + mass2.value) * v ** 2
      let rot = 0
      // realistic model
      if (model.value === 1) {
        // increase effective masses
        const lP = radiusP.value * 1E-2 * Math.PI // part of string lying on pulley
        const l0 = l - lP // free part of string
        const l1 = 0.5 * l0 + 0.25 * l - x // free part of string left side
        const l2 = 0.5 * l0 - 0.25 * l + x // free part of string right side
        kin += 0.5 * 1E-3 * massS.value * l0 / l * v ** 2 // add free part of string to kinetic energy
        pot += g * 1E-3 * massS.value * (l1 / l * (x + 0.5 * l1) + l2 / l * (0.5 * l - x + 0.5 * l2)) // add free parts of string to pot energy
        pot -= g * 1E-3 * massS.value / 16 / l * (4 * l0 ** 2 + 4 * l * l0 - l ** 2)
        rot += 0.25 * 1E-3 * (massP.value + lP / l * massS.value) * v ** 2
      }
      return { pot, kin, rot, tot: pot + kin + rot }
    }

    // dimensions of cards or theme changed → repaint
    function repaint() {
      if (pageTitle.tabIndex > 0) return
      canvas.remove()
      initCanvas()
      colors = plot2d.updateColors()
      drawSetup()
    }
  </script>
</body>

</html>