<!DOCTYPE html>
<html>

<head>
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-dipole">
  <page-title id="page-title" data-title="Dipole.title" data-subtitle="Dipole.subtitle" data-tabs="General.simulation, General.information"></page-title>
  <main class="container">
    <text-block data-tab-index="1" data-text="infos/dipole"></text-block>
    <mint-card-container data-tab-index="0" id="mint-card-container">
      <mint-card data-title="General.settings">
        <form class="form-container">
          <mint-label for="lambda" data-text="Physics.lambda" data-unit="cm"></mint-label>
          <input-number id="lambda" data-min="20" data-max="70" data-slider></input-number>
          <mint-label for="presentation" data-text="General.presentation"></mint-label>
          <input-select id="presentation" data-options="Physics.flux-lines, Physics.field-strength, Dipole.presentation-2"></input-select>
          <mint-label for="fieldType" data-text="Dipole.field-type"></mint-label>
          <input-select v-if="presentation!=2" id="fieldType" data-options="Dipole.field-type-0, Dipole.field-type-1"></input-select>
          <mint-label for="planeOrientation" data-text="Dipole.plane-orientation"></mint-label>
          <input-select id="planeOrientation" data-options="Dipole.plane-orientation-0, Dipole.plane-orientation-1"></input-select>
          <mint-label for="brightness" data-text="General.brightness"></mint-label>
          <input-slider id="brightness" data-min="1" data-max="10"></input-slider>
          <mint-label for="zoom" data-text="Maths.zoom-ordinate"></mint-label>
          <input-slider v-if="presentation==2" id="zoom" data-min="1" data-max="10"></input-slider>
          <mint-label class="wide-label" for="showCoordinates" data-text="General.show-coords"></mint-label>
          <input-switch id="showCoordinates"></input-switch>
          <mint-label class="wide-label" for="showDipole" data-text="Dipole.show-dipole"></mint-label>
          <input-switch id="showDipole"></input-switch>
        </form>
        <alert-box data-text="Dipole.info-coords"></alert-box>
        <div slot="footer">
          <state-buttons id="state" data-step></state-buttons>
        </div>
      </mint-card>
      <mint-card data-title="General.simulation">
        <div id="divAnimate" class="w-100"></div>
        <canvas-graph id="graph" data-ratio="1" data-show-point></canvas-graph>
        <div slot="footer" id="simulationFooter">
          <button id="btnSave" class="btn" data-i18n="General.btn-save-img"></button>
        </div>
      </mint-card>
    </mint-card-container>
    <modal-download-file id="modalDownloadFile" @close="drawFieldLines()" />
  </main>

  <script type="module">
    import '../modules/main.js'
    import { gid, showIf } from '../modules/utils.js'
    import '../components/alert-box.js'
    import '../components/page-title.js'
    import '../components/state-buttons.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/canvas-graph.js'
    import '../components/text-block.js'
    import '../components/modal-download-file.js'
    import * as color from '../modules/color.js'
    import * as plot2d from '../modules/plot-2d.js'
    import { sInit, sRunning, sPaused, sStep } from '../modules/states.js'

    // references
    const pageTitle = gid('page-title')
    const mintCardContainer = gid('mint-card-container')
    const lambda = gid('lambda', 40)
    const presentation = gid('presentation', 0) // 0 field lines, 1 field strength, 2 time dependence
    const fieldType = gid('fieldType', 0) // 0 electric, 1 magnetic field
    const planeOrientation = gid('planeOrientation', 0) // 0 parallel dipole, 1 orthogonal dipole
    const brightness = gid('brightness', 5)
    const zoom = gid('zoom', 5)
    const showCoordinates = gid('showCoordinates', true)
    const showDipole = gid('showDipole', true)
    const state = gid('state', sInit)
    const divAnimate = gid('divAnimate')
    const graph = gid('graph')
    const simulationFooter = gid('simulationFooter')
    const btnSave = gid('btnSave')
    const modalDownloadFile = gid('modalDownloadFile')

    // events
    mintCardContainer.onrepaint = repaint
    lambda.oninput = reset
    for (const e of [presentation, fieldType, planeOrientation, showCoordinates, showDipole]) e.oninput = paramsChanged
    brightness.oninput = drawFieldStrength
    zoom.oninput = drawLineDiagramm
    state.onstart = start
    state.oncont = start
    state.onpause = pause
    state.onreset = reset
    state.onstep = step
    btnSave.onclick = save
    pageTitle.ontab = () => state.pause()

    // variables
    let canvasFieldStrength // canvas representing strength of field
    let canvasFieldLines // canvas representing fluxlines of field
    let canvasOverlay // canvas for overlay (coordinates and dipole)
    let width // width of canvas
    let colors // colors
    let time = 0 // current time
    let omega

    // constants
    const dt = 1E-11 // simulation time step
    const c = 2.998E8 // speed of light
    const SIZE = 300 // Simulation field size
    const field = Array(SIZE)

    // start
    plot2d.init()
    createCanvas()
    paramsChanged()

    // updatGui
    function updateGui() {
      fieldType.showIf(presentation.value !== 2)
      planeOrientation.showIf(presentation.value == 0 || presentation.value == 1)
      if (presentation.value === 0) planeOrientation.setAttribute('disabled', '')
      else planeOrientation.removeAttribute('disabled')
      brightness.showIf(presentation.value === 1)
      zoom.showIf(presentation.value === 2)
      showCoordinates.showIf(presentation.value !== 2)
      showDipole.showIf(presentation.value !== 2)
      showIf(divAnimate, presentation.value < 2)
      showIf(graph, presentation.value === 2)
      showIf(simulationFooter, presentation.value !== 2)
      btnSave.disabled = state.value === sRunning
    }

    // params changed
    async function paramsChanged() {
      // update gui
      updateGui()
      // angular frequency
      omega = Math.PI * 2 * c / lambda.value * 100
      // prepare canvas / graph
      if (presentation.value === 0) {
        createCanvas()
        planeOrientation.value = fieldType.value
        canvasFieldStrength.style.backgroundColor = colors[0]
        plot2d.clearCanvas(canvasFieldStrength)
        if (state.value !== sRunning) drawFieldLines()
      } else if (presentation.value === 1) {
        createCanvas()
        plot2d.clearCanvas(canvasFieldLines)
        canvasFieldStrength.style.backgroundColor = colors[4]
        if (state.value !== sRunning) drawFieldStrength()
      } else {
        graph.coords = {
          x: { min: -50, max: 50, step: 10, precision: 2, grid: 2, text: 'x / unit(cm)' },
          y: { min: -5, max: 5, step: 5, precision: 2, grid: 10, text: 'E/H' }
        }
        if (state.value !== sRunning) drawLineDiagramm()
      }
      // show coordinate system?
      plot2d.clearCanvas(canvasOverlay)
      if (showCoordinates.value && presentation.value !== 2) {
        const ctx = canvasOverlay.getContext('2d')
        plot2d.drawCoordinates(ctx, {
          width,
          height: width,
          x: { min: -50, max: 50, step: 10, grid: -1, text: 'x / unit(cm)' },
          y: { min: -50, max: 50, step: 10, grid: -1, text: planeOrientation.value === 0 ? 'z / unit(cm)' : 'y / unit(cm)' }
        })
      }
      // show dipol?
      if (showDipole.value) drawDipole()
    }

    // create canvas for setup
    function createCanvas() {
      colors = color.getColors()
      width = divAnimate.clientWidth
      const displaySize = width + 'px'
      divAnimate.style.height = displaySize
      divAnimate.innerHTML = ''
      // canvas field strength
      canvasFieldStrength = plot2d.createCanvas(divAnimate, SIZE, SIZE, 'canvasStrength')
      canvasFieldStrength.style.backgroundColor = colors[1]
      canvasFieldStrength.style.width = displaySize
      canvasFieldStrength.style.height = displaySize
      // canvas field lines
      canvasFieldLines = plot2d.createCanvas(divAnimate, width, width, 'canvasLines', true)
      // canvas coordinate system
      canvasOverlay = plot2d.createCanvas(divAnimate, width, width, 'canvasOverlay', true)
    }

    /* calc strength of electric and magnetic field, limited to x-z-plane */
    function calcFieldStrength(t, x, y, z) {
      // convert to spherical coordinates
      const r = Math.sqrt(y * y + z * z) + 1E-100 // distance from center of dipole
      const cosTheta = z / r
      const sinTheta = y / r
      // physics
      const rho = r * omega / c
      const rho2 = rho * rho
      const rho3 = rho2 * rho
      const arg = omega * t - rho
      const cosArg = Math.cos(arg) // wave propagation factor, real part
      const sinArg = Math.sin(arg) // wave propagation factor, imaginary part
      const pre = 1 // pre factor
      const Er = 2 * cosTheta * pre * (sinArg / rho3 + cosArg / rho2)
      const Etheta = sinTheta * pre * (sinArg / rho3 + cosArg / rho2 - sinArg / rho)
      const Hphi = sinTheta * pre * (cosArg / rho2 - sinArg / rho)
      // convert cartesian coordinates
      const Ez = Er * cosTheta - Etheta * sinTheta
      /* const Ex =  Er * sinTheta + Etheta * cosTheta
      const Hy = +Hphi * cosTheta
      const Ey =  0
      const Hx = -Hphi * sinTheta
      const Hz = 0 */
      const E = Math.sqrt(Er * Er + Etheta * Etheta)
      const H = Math.abs(Hphi)
      return { E, H, Hphi, Ez }
    }

    /* draw */
    function drawFieldStrength() {
      // calc only one quarter due to symmetry
      for (let i = 0; i <= SIZE / 2; i++) {
        field[i] = Array(SIZE)
        field[SIZE - i] = Array(SIZE)
        const iCoordinate = i / SIZE - 0.5
        for (let j = 0; j <= SIZE / 2; j++) {
          const jCoordinate = j / SIZE - 0.5
          // calc field strength
          let strength
          if (planeOrientation.value === 0) {
            strength = calcFieldStrength(time, 0, jCoordinate, iCoordinate)
          } else {
            strength = calcFieldStrength(time, 0, Math.sqrt(jCoordinate * jCoordinate + iCoordinate * iCoordinate), 0)
          }
          const value =
            fieldType.value === 0
              ? strength.E// * Math.sign(E.Ex)
              : strength.H// * Math.sign(E.Hx)
          field[i][j] = value
          field[SIZE - i][j] = value
          field[i][SIZE - j] = value
          field[SIZE - i][SIZE - j] = value
        }
      }
      // draw field
      const ctx = canvasFieldStrength.getContext('2d')
      const imageData = ctx.createImageData(SIZE, SIZE)
      const data = imageData.data
      const b = brightness.value

      for (let i = 0; i < data.length; i += 4) {
        const pixelX = (i / 4) % SIZE
        const pixelY = Math.floor(i / 4 / SIZE)
        const eRel = field[pixelY][pixelX] * b
        if (fieldType.value === 0) {
          data[i] = eRel * 128; data[i + 1] = eRel * 128; data[i + 2] = eRel * 255; data[i + 3] = 255
        } else {
          data[i] = eRel * 128; data[i + 1] = eRel * 255; data[i + 2] = eRel * 128; data[i + 3] = 255
        }
      }
      ctx.putImageData(imageData, 0, 0)
    }

    // start animation
    function start() {
      state.value = sRunning
      updateGui()
      animationStep()
    }

    // pause animation
    function pause() {
      state.value = sPaused
      updateGui()
    }

    // one animation step
    function step() {
      state.value = sStep
      animationStep()
      state.value = sPaused
      updateGui()
    }

    // start animation
    function animationStep() {
      if (state.value !== sRunning && state.value !== sStep) return
      time += dt
      if (presentation.value === 0) drawFieldLines()
      else if (presentation.value === 1) drawFieldStrength()
      else if (presentation.value === 2) drawLineDiagramm()
      if (showDipole.value && presentation.value !== 2) drawDipole()
      if (state.value === sRunning) setTimeout(animationStep, 20)
    }

    // reset
    async function reset() {
      state.value = sInit
      time = 0
      paramsChanged()
    }

    // draw tine lines
    function drawLineDiagramm() {
      const b = zoom.value
      if (!graph) return
      graph.clear()
      graph.addFunction({
        color: 1,
        lineWidth: 2,
        lineStyle: 1,
        math: 'E_z',
        f: (x) => {
          if (x === 0) return NaN
          const f = calcFieldStrength(time, 0, x / 100, 0)
          return Math.abs(f.Ez) > 10 ? NaN : b * f.Ez
        }
      })
      graph?.addFunction({
        color: 2,
        lineWidth: 2,
        lineStyle: 1,
        math: 'H_y',
        f: (x) => {
          const f = calcFieldStrength(time, 0, x / 100, 0)
          return Math.abs(f.Hphi) > 10 ? NaN : b * f.Hphi
        }
      })
      graph.plot()
    }

    // draw field lines
    function drawFieldLines() {
      if (presentation.value !== 0) return
      plot2d.clearCanvas(canvasFieldLines)
      if (fieldType.value === 0) {
        // electric field
        for (const k of [0.3, 0.6, 0.9, 1.2, 1.5]) {
          drawElectricFieldline(time, k)
          drawElectricFieldline(time, -k)
        }
      } else {
        // magnetic field
        drawMagneticFieldlines(time)
      }
    }

    // show dipole
    function drawDipole() {
      const ctx = canvasOverlay.getContext('2d')
      const signum = Math.sign(Math.sin(omega * time))
      ctx.lineWidth = 2
      ctx.strokeStyle = colors[4]
      ctx.fillStyle = colors[5]
      if (planeOrientation.value === 0) {
        for (let i = -1; i <= 1; i += 2) {
          ctx.beginPath()
          const x = 0.5 * width
          const y = x - i * 0.03 * width
          const r = 0.015 * width
          ctx.arc(x, y, r, 0, Math.PI * 2)
          ctx.fill()
          if ((i * signum !== 0)) {
            ctx.moveTo(x - 0.6 * r, y)
            ctx.lineTo(x + 0.6 * r, y)
          }
          if ((i * signum > 0)) {
            ctx.moveTo(x, y - 0.6 * r)
            ctx.lineTo(x, y + 0.6 * r)
          }
          ctx.stroke()
        }
      } else if (planeOrientation.value === 1) {
        ctx.beginPath()
        const x = 0.5 * width
        const r = 0.015 * width
        ctx.arc(x, x, r, 0, Math.PI * 2)
        ctx.fill()
        ctx.stroke()
        const signum = Math.sign(Math.cos(omega * time))
        if (signum > 0) {
          ctx.beginPath()
          ctx.arc(x, x, 2, 0, Math.PI * 2)
          ctx.stroke()
        } else {
          ctx.moveTo(x - 0.6 * r, x - 0.6 * r)
          ctx.lineTo(x + 0.6 * r, x + 0.6 * r)
          ctx.moveTo(x - 0.6 * r, x + 0.6 * r)
          ctx.lineTo(x + 0.6 * r, x - 0.6 * r)
          ctx.stroke()
        }
      }
    }

    // draw specific electric fieldline for param k
    function drawElectricFieldline(t, k) {
      let r = 1E-2
      while (r < 0.7) {
        const sol0 = solveFieldLineEquation(t, r, k)
        const r0 = r
        // found solution ?
        if (sol0) {
          const points = [[sol0.x, sol0.y]]
          // proceed backward
          let sol; let lastSol = sol0
          do {
            r -= lastSol.dr
            sol = solveFieldLineEquation(t, r, k)
            if (sol) {
              points.unshift([sol.x, sol.y])
              lastSol = sol
            } else points.unshift([lastSol.x, 0])
          } while (sol && sol.x > 0)
          // proceed forward
          r = r0
          lastSol = sol0
          do {
            r += lastSol.dr
            sol = solveFieldLineEquation(t, r, k)
            if (sol) {
              points.push([sol.x, sol.y])
              lastSol = sol
            } else points.push([lastSol.x, 0])
          } while (sol)
          // draw all four quadrants
          const ctx = canvasFieldLines.getContext('2d')
          ctx.lineWidth = 2
          if (k > 0) ctx.strokeStyle = colors[1]
          else ctx.strokeStyle = colors[3]
          ctx.beginPath()
          ctx.save()
          ctx.scale(width, width)
          ctx.translate(0.5, 0.5)
          // y-z-plane
          for (let i = 0; i < points.length; i++) {
            if (i === 0) ctx.moveTo(points[i][0], points[i][1])
            else ctx.lineTo(points[i][0], points[i][1])
          }
          for (let i = 0; i < points.length; i++) {
            if (i === 0) ctx.moveTo(-points[i][0], points[i][1])
            else ctx.lineTo(-points[i][0], points[i][1])
          }
          for (let i = 0; i < points.length; i++) {
            if (i === 0) ctx.moveTo(points[i][0], -points[i][1])
            else ctx.lineTo(points[i][0], -points[i][1])
          }
          for (let i = 0; i < points.length; i++) {
            if (i === 0) ctx.moveTo(-points[i][0], -points[i][1])
            else ctx.lineTo(-points[i][0], -points[i][1])
          }
          // draw arrows
          drawArrow(ctx, points[0][0], 0, -k)
          drawArrow(ctx, -points[0][0], 0, -k)
          drawArrow(ctx, points[points.length - 1][0], 0, k)
          drawArrow(ctx, -points[points.length - 1][0], 0, k)
          ctx.restore()
          ctx.stroke()
        }
        r += 1E-2
      }
    }

    // helper function for calculating electric field lines
    function solveFieldLineEquation(t, r, k) {
      // try to solve field line equation
      const argument = omega * (t - r / c)
      const radikant = k / (c / omega / r * Math.sin(argument) + Math.cos(argument))
      if (radikant < 0 || radikant > 1) return false
      const theta = Math.asin(Math.sqrt(radikant))
      // determine step for radius r
      let dr = 5E-3
      if (Math.abs(theta) > 1.3) dr = 1E-5
      else if (Math.abs(theta) > 1.1) dr = 1E-4
      else if (Math.abs(theta) > 0.7) dr = 1E-3
      // calc position
      const x = r * Math.sin(theta)
      const y = r * Math.cos(theta)
      return { x, y, theta, dr }
    }

    // draw magentic field lines
    function drawMagneticFieldlines(t) {
      const l = lambda.value / 100
      const circles = []
      let lastH = 0
      let lastR = 0
      // search for roots and interpolate
      for (let r = 1E-2; r < 1; r += 1E-3) {
        const H = calcFieldStrength(t, 0, r, 0).Hphi
        if (Math.sign(H) !== Math.sign(lastH) && r > 1E-2) {
          if (lastR > 0) {
            // plot three lines per half wave
            for (const pos of [0.15, 0.32, 0.45, 0.55, 0.68, 0.85]) {
              const circleRadius = lastR + (r - lastR) * pos
              circles.push({ r: circleRadius, type: Math.sign(lastH) })
            }
          } else {
            // plot three lines per half wave
            for (const pos of [0.15, 0.32, 0.45, 0.55, 0.68, 0.85]) {
              lastR = r - 0.65 * l // interpolate backwarts, for smooth display...
              const circleRadius = lastR + (r - lastR) * pos
              if (circleRadius > 0) circles.push({ r: circleRadius, type: Math.sign(lastH) })
            }
          }
          lastR = r
        }
        lastH = H
      }
      // draw circles
      const ctx = canvasFieldLines.getContext('2d')
      for (const circle of circles) {
        ctx.lineWidth = 2
        ctx.strokeStyle = circle.type > 0 ? colors[2] : colors[3]
        ctx.beginPath()
        ctx.save()
        ctx.scale(width, width)
        ctx.translate(0.5, 0.5)
        ctx.beginPath()
        drawArrow(ctx, -circle.r, 0, circle.type)
        drawArrow(ctx, circle.r, 0, -circle.type)
        ctx.arc(0, 0, circle.r, 0, Math.PI * 2)
        ctx.restore()
        ctx.stroke()
      }
    }

    // helper - up / down draw arrow, direction according to signum of dir
    function drawArrow(ctx, x, y, dir) {
      if (Math.abs(x) < 0.01) return
      const head = Math.sign(dir) * 0.008
      ctx.moveTo(x, y)
      ctx.lineTo(x - head, y - head)
      ctx.moveTo(x, y)
      ctx.lineTo(x + head, y - head)
    }

    // repaint
    async function repaint() {
      if (pageTitle.tabIndex > 0) return
      colors = plot2d.updateColors()
      createCanvas()
      paramsChanged(false)
    }

    // save image
    function save() {
      if (presentation.value === 0) {
        canvasFieldLines.getContext('2d').drawImage(canvasOverlay, 0, 0, width, width)
        modalDownloadFile.open({ type: 'canvas', data: canvasFieldLines })
      }
      if (presentation.value === 1) {
        modalDownloadFile.open({ type: 'canvas', data: canvasFieldStrength })
      }
    }
  </script>
</body>

</html>