<!DOCTYPE html>

<head>
  <script src="../website.js"></script>
</head>

<body class="mintapps" data-id="mint-user-admin">
  <page-title id="page-title" data-title="UserAdmin.title" data-subtitle="UserAdmin.subtitle" data-tabs="UserAdmin.card-users, UserAdmin.card-activities, UserAdmin.card-rooms"></page-title>
  <main class="container gap-stack">
    <alert-box id="alert-warning" data-type="warning" data-hide></alert-box>
    <div data-tab-index="2">
      <table class="table table-striped admin-table shadow">
        <thead>
          <tr>
            <th data-i18n="UserAdmin.room-name"></th>
            <th data-i18n="UserAdmin.room-type"></th>
            <th data-i18n="UserAdmin.owner"></th>
            <th class="hide-small" data-i18n="UserAdmin.created"></th>
            <th class="hide-small" data-i18n="UserAdmin.expires"></th>
            <th data-i18n="General.action"></th>
          </tr>
        </thead>
        <tbody id="table-room-list"></tbody>
      </table>
      <alert-box id="alert-no-rooms" data-text="UserAdmin.no-rooms"></alert-box>
    </div>
    <div data-tab-index="1">
      <table class="table table-striped admin-table shadow">
        <thead>
          <tr>
            <th data-i18n="General.title"></th>
            <th data-i18n="UserAdmin.room-type"></th>
            <th data-i18n="UserAdmin.owner"></th>
            <th class="hide-small" data-i18n="UserAdmin.created"></th>
            <th data-i18n="General.action"></th>
          </tr>
        </thead>
        <tbody id="table-activity-list"></tbody>
      </table>
      <alert-box id="alert-no-activities" data-text="UserAdmin.no-activities"></alert-box>
    </div>
    <div data-tab-index="0">
      <table class="table table-striped admin-table shadow">
        <thead>
          <tr>
            <th data-i18n="User.user"></th>
            <th data-i18n="General.description"></th>
            <th data-i18n="User.lastlogin"></th>
            <th class="hide-small" data-i18n="User.locked"></th>
            <th class="hide-small" data-i18n="User.admin"></th>
            <th class="hide-small">2FA</th>
            <th data-i18n="General.action"></th>
          </tr>
        </thead>
        <tbody id="table-user-list"></tbody>
      </table>
    </div>
    <modal-dialog id="modal-delete-room" data-buttons="delete, cancel" data-title="General.confirmation">
      <div data-i18n="UserAdmin.confirm-delete-room"></div>
    </modal-dialog>

    <modal-dialog id="modal-delete-activity" data-buttons="delete, cancel" data-title="General.confirmation">
      <div data-i18n="ActivityList.confirm-delete"></div>
    </modal-dialog>

    <modal-dialog id="modal-delete-user" data-buttons="delete, cancel" data-title="General.confirmation">
      <div data-i18n="User.confirm-delete"></div>
      <alert-box id="alert-delete-user" data-buttons="warning" data-hide></alert-box>
    </modal-dialog>

    <modal-dialog id="modal-add-user" data-title="UserAdmin.add-user" data-buttons="accept, cancel" data-keep-open="accept">
      <alert-box id="alert-add-user" data-type="warning"></alert-box>
      <alert-box data-text="User.user-rules"></alert-box>
      <form class="form-container">
        <mint-label for="input-add-id" data-text="User.user"></mint-label>
        <input-text id="input-add-id" data-min="1" data-max="64" autocomplete="off"></input-text>
        <mint-label for="input-add-description" data-text="General.description"></mint-label>
        <input-text id="input-add-description" data-max="300" autocomplete="off"></input-text>
      </form>
      <alert-box data-text="User.password-rules"></alert-box>
      <form class="form-container">
        <mint-label for="input-add-password1" data-text="User.password"></mint-label>
        <input-text id="input-add-password1" type="password" data-min="8" autocomplete="new-password"></input-text>
        <mint-label for="input-add-password1" data-text="User.repeat-password"></mint-label>
        <input-text id="input-add-password2" type="password" data-min="8" autocomplete="new-password"></input-text>
      </form>
    </modal-dialog>

    <modal-dialog id="modal-edit-user" data-title="UserAdmin.edit-user" data-keep-open="accept" data-buttons="accept, cancel">
      <alert-box id="alert-password-rules" data-text="User.password-rules" data-hide></alert-box>
      <alert-box id="alert-password-hint" data-text="UserAdmin.hint-edit-password" data-hide></alert-box>
      <alert-box id="alert-edit-user" data-type="warning"></alert-box>
      <form class="form-container">
        <mint-label for="input-edit-id" data-text="User.user"></mint-label>
        <output-text id="input-edit-id"></output-text>
        <mint-label for="input-edit-password1" data-text="User.new-password" data-hide></mint-label>
        <input-text v-if="userToEdit.editPassword" id="input-edit-password1" type="password" autocomplete="new-password" data-min="8" data-hide></input-text>
        <mint-label for="input-edit-password2" data-text="User.repeat-password" data-hide></mint-label>
        <input-text v-if="userToEdit.editPassword" id="input-edit-password2" type="password" autocomplete="new-password" data-min="8" data-hide></input-text>
        <mint-label for="input-edit-description" data-text="General.description"></mint-label>
        <input-text id="input-edit-description" data-max="300" autocomplete="off"></input-text>
        <mint-label for="switch-edit-password" data-text="UserAdmin.edit-password" class="wide-label"></mint-label>
        <input-switch id="switch-edit-password"></input-switch>
        <mint-label for="switch-edit-locked" data-text="User.locked" class="wide-label"></mint-label>
        <input-switch id="switch-edit-locked"></input-switch>
        <mint-label for="switch-edit-admin" data-text="User.admin" class="wide-label"></mint-label>
        <input-switch id="switch-edit-admin"></input-switch>
      </form>
    </modal-dialog>

    <div class="text-right" id="div-buttons">
      <button data-tab-index="0" class="btn btn-primary" id="btn-add-user" data-i18n="General.btn-add"></button>
      <button id="btn-update" class="btn btn-secondary" data-i18n="General.btn-update"></button>
    </div>
  </main>

  <script type="module">
    import '../modules/main.js'
    import '../components/mint-card-components.js'
    import '../components/form-components.js'
    import '../components/alert-box.js'
    import '../components/modal-dialog.js'
    import '../components/page-title.js'
    import * as sync from '../modules/sync.js'
    import * as http from '../modules/http.js'
    import * as storage from '../modules/storage.js'
    import { gid, hide, show, buildHref } from '../modules/utils.js'
    import { translate } from '../modules/i18n.js'

    // events
    gid('btn-update').onclick = () => { update() }
    gid('btn-add-user').onclick = openModalAddUser
    gid('modal-add-user').onaccept = addUser
    gid('modal-delete-user').ondelete = deleteUser
    gid('modal-edit-user').onaccept = saveUser
    gid('modal-delete-activity').ondelete = deleteActivity
    gid('modal-delete-room').ondelete = deleteRoom
    gid('switch-edit-password').oninput = () => {
      ['input-edit-password1', 'input-edit-password2', 'alert-password-rules', 'alert-password-hint'].forEach(id => {
        gid(id).showIf(gid('switch-edit-password').value)
      })
    }

    const titles = {
      pairs: 'Pairs.title',
      plot: 'Plot.title',
      quiz: 'Quiz.title',
      perceptron: 'Perceptron.title',
      price: 'Price.title',
      poll: 'Poll.title',
      tdchange: 'TDChange.title',
      mathefix: 'Mathefix.title'
    }

    // variables
    let roomList = []
    let activityList = []
    let userList = []
    let session = storage.get('session')
    let userToDelete = null // user selected with delete button
    let activityToDelete = null // activity selected with delete button
    let roomToDelete = null // room selected with delete button

    // listen to change of session state (see navbar-top-login an navbar-top)
    storage.watch('session', update)
    update('all')

    // delete room
    async function deleteRoom() {
      try {
        const room = roomToDelete
        if (sync.isSyncing() && sync.getRoom() === room.id) await sync.stop()
        await sync.deleteRoom(room.id, room.owner, room.token)
        await update('room')
        roomToDelete = null
      } catch (e) {
        console.debug(e)
      }
    }

    // show modal to confirm delete room action
    async function openModalDeleteRoom(item) {
      if (await update('room')) {
        roomToDelete = item
        gid('modal-delete-room').show()
      }
    }

    // show activity
    async function showActivity(activity) {
      if (await update('activity')) {
        location.href = buildHref(`mint-${activity.type}`, { play: activity.id })
      }
    }

    // open modal delete activity
    async function openModalDeleteActivity(item) {
      if (await update('activity')) {
        activityToDelete = item
        gid('modal-delete-activity').show()
      }
    }

    // delete activity
    async function deleteActivity() {
      try {
        await http.post('sync:delete-activity', { id: activityToDelete.id, user: session.user })
        await update('activity')
      } catch (e) {
        console.debug(e)
      } finally {
        activityToDelete = null
      }
    }

    // open modal to delete user
    async function openModalDeleteUser(user) {
      if (await update('user')) {
        userToDelete = user
        gid('modal-delete-user').show()
        gid('alert-delete-user').hide()
      }
    }

    // delete user from delete dialog
    async function deleteUser() {
      try {
        await update('user')
        await http.post('sync:delete-user-as-admin', {
          id: userToDelete.id,
          user: session.user,
        })
        await update('user')
      } catch (e) {
        gid('alert-delete-user').setAttribute('data-i18n', `Errors.${e.message}`)
        gid('alert-delete-user').show()
      } finally {
        userToDelete = false
      }
    }

    // open modal to add new user
    async function openModalAddUser() {
      if (await update('user')) {
        gid('input-add-id').value = ''
        gid('input-add-password1').value = ''
        gid('input-add-password2').value = ''
        gid('input-add-description').value = ''
        gid('alert-add-user').hide()
        gid('modal-add-user').show()
      }
    }

    // add user from add user dialog
    async function addUser() {
      try {
        const id = gid('input-add-id')
        const password1 = gid('input-add-password1')
        const password2 = gid('input-add-password2')
        const description = gid('input-add-description')
        if (password1.value !== password2.value) throw new Error('password-mismatch')
        const existingUser = userList.find((item) => item.id === id.value)
        if (existingUser) throw new Error('user-already-exists')
        await update('user')
        await http.post('sync:save-user', {
          id: id.value,
          password: password1.value,
          locked: false,
          admin: false,
          description: description.value,
          action: 'add',
          user: session.user
        })
        await update('user')
        gid('modal-add-user').hide()
      } catch (e) {
        gid('alert-add-user').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-add-user').show()
      }
    }

    // open modal to edit existing user
    async function openModalEditUser(user) {
      if (await update('user')) {
        gid('input-edit-id').value = user.id
        gid('input-edit-password1').value = ''
        gid('input-edit-password2').value = ''
        gid('input-edit-description').value = user.description ?? ''
        gid('switch-edit-admin').value = !!user.admin
        gid('switch-edit-locked').value = !!user.locked
        gid('alert-edit-user').hide()
        gid('modal-edit-user').show()
      }
    }

    // save user from edit dialog
    async function saveUser() {
      try {
        const id = gid('input-edit-id')
        const password1 = gid('input-edit-password1')
        const password2 = gid('input-edit-password2')
        const description = gid('input-edit-description')
        const admin = gid('switch-edit-admin')
        const locked = gid('switch-edit-locked')
        const setPassord = gid('switch-edit-password')
        if (setPassord.value && password1.value !== password2.value) { throw new Error('password-mismatch') }
        await update('user')
        await http.post('sync:save-user', {
          id: id.value,
          password: setPassord.value ? password1.value : '',
          locked: locked.value,
          admin: admin.value,
          description: description.value,
          action: 'update',
          user: session.user
        })
        await update('user')
        gid('modal-edit-user').hide()
      } catch (e) {
        gid('alert-edit-user').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-edit-user').show()
      }
    }

    // update session and gui
    async function update(type = 'all') {
      session = storage.get('session')
      try {
        if (type === 'all' || type === 'room') roomList = await http.post('sync:get-room-list', { user: session.user })
        if (type === 'all' || type === 'activity') activityList = await http.post('sync:get-activity-list', { type: '%', user: session.user })
        if (type === 'all' || type === 'user') userList = await http.post('sync:get-user-list', { user: session.user })
        renderTables()
        gid('alert-warning').hide()
        show(gid('div-buttons'))
        document.querySelectorAll('.mintapps table').forEach(t => show(t))
        return true
      } catch (e) {
        // remove all sensible information from gui
        userList = []
        roomList = []
        activityList = []
        document.querySelectorAll('.mintapps table').forEach(t => hide(t))
        gid('alert-warning').setAttribute('data-text', `Errors.${e.message}`)
        gid('alert-warning').show()
        hide(gid('div-buttons'))
        gid('modal-edit-user').hide()
        gid('modal-delete-user').hide()
        gid('modal-add-user').hide()
        const navbarTop = document.querySelector('.mintapp navbar-top')
        if (navbarTop) navbarTop.updateTopPanel()
        return false
      }
    }

    // show user, activity and room tables
    function renderTables() {
      // room list
      gid('table-room-list').innerHTML = ''
      roomList.forEach(item => {
        const tr = document.createElement('tr')
        const td0 = tr.insertCell(); td0.innerText = item.title ?? '–'
        const td1 = tr.insertCell(); td1.innerText = translate(titles[item.type])
        const td2 = tr.insertCell(); td2.innerText = item.owner
        const td3 = tr.insertCell(); td3.classList.add('hide-small'); td3.innerText = new Date(item.createtime).toLocaleString()
        const td4 = tr.insertCell(); td4.classList.add('hide-small'); td4.innerText = new Date(item.expires).toLocaleString()
        const td5 = tr.insertCell()
        const btn2 = document.createElement('button'); btn2.classList.add('btn', 'btn-icon'); btn2.setAttribute('data-i18n-title', 'General.btn-delete')
        btn2.innerHTML = '<img src="../assets/icons/delete.svg">'
        btn2.onclick = () => openModalDeleteRoom(item)
        td5.append(btn2)
        tr.append(td0, td1, td2, td3, td4, td5)
        gid('table-room-list').append(tr)
      })
      gid('alert-no-rooms').showIf(roomList.length === 0)
      // actvitiy list
      gid('table-activity-list').innerHTML = ''
      activityList.forEach(item => {
        const tr = document.createElement('tr')
        const td0 = tr.insertCell(); td0.innerText = item.title
        const td1 = tr.insertCell(); td1.innerText = translate(titles[item.type])
        const td2 = tr.insertCell(); td2.innerText = item.owner
        const td3 = tr.insertCell(); td3.classList.add('hide-small'); td3.innerText = new Date(item.createtime).toLocaleString()
        const td4 = tr.insertCell()
        if (session.user !== item.id) {
          const btn1 = document.createElement('button'); btn1.classList.add('btn', 'btn-icon'); btn1.setAttribute('data-i18n-title', 'General.btn-show')
          const btn2 = document.createElement('button'); btn2.classList.add('btn', 'btn-icon'); btn2.setAttribute('data-i18n-title', 'General.btn-delete')
          btn1.innerHTML = '<img src="../assets/icons/run.svg">'
          btn2.innerHTML = '<img src="../assets/icons/delete.svg">'
          btn1.onclick = () => showActivity(item)
          btn2.onclick = () => openModalDeleteActivity(item)
          td4.append(btn1, btn2)
        }
        tr.append(td0, td1, td2, td3, td4)
        gid('table-activity-list').append(tr)
      })
      gid('alert-no-activities').showIf(activityList.length === 0)
      // user list
      gid('table-user-list').innerHTML = ''
      userList.forEach(item => {
        const tr = document.createElement('tr')
        const td0 = tr.insertCell(); td0.innerText = item.id
        const td1 = tr.insertCell(); td1.innerText = item.description
        const td2 = tr.insertCell(); td2.innerText = item.lastlogin > 0 ? new Date(item.lastlogin).toLocaleString() : '–'
        const td3 = tr.insertCell(); td3.classList.add('text-center', 'hide-small'); td3.innerText = item.locked ? "✓" : ""
        const td4 = tr.insertCell(); td4.classList.add('text-center', 'hide-small'); td4.innerText = item.admin ? "✓" : ""
        const td5 = tr.insertCell(); td5.classList.add('text-center', 'hide-small'); td5.innerText = item.totp ? "✓" : ""
        const td6 = tr.insertCell()
        if (session.user !== item.id) {
          const btn1 = document.createElement('button'); btn1.classList.add('btn', 'btn-icon'); btn1.setAttribute('data-i18n-title', 'General.btn-edit')
          const btn2 = document.createElement('button'); btn2.classList.add('btn', 'btn-icon'); btn2.setAttribute('data-i18n-title', 'General.btn-delete')
          btn1.innerHTML = '<img src="../assets/icons/edit.svg">'
          btn2.innerHTML = '<img src="../assets/icons/delete.svg">'
          btn1.onclick = () => openModalEditUser(item)
          btn2.onclick = () => openModalDeleteUser(item)
          td6.append(btn1, btn2)
        }
        tr.append(td0, td1, td2, td3, td4, td5, td6)
        gid('table-user-list').append(tr)
      })
    }
  </script>
  <style>
    .admin-table {
      background-color: var(--background-color) !important;
      padding: var(--spacing);
    }
  </style>
</body>

</html>