/* form container */
.mintapps .form-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto minmax(0, 50%) var(--form-height);
  grid-template-rows: auto;
  align-items: start;
  gap: 1px 0.5rem;
}

/* form-separator */
.mintapps .form-separator {
  grid-column: 1/4;
  height: var(--spacing);
}

.mintapps .wide-element {
  grid-column: 2/4;
}

.mintapps .wide-label {
  grid-column: 1/3;
}


/* responsive design for narrow cards (class mint-card-narrow set by hs in mint-card-components.js) */
.mintapps .mint-card-narrow .form-container {
  grid-template-columns: minmax(0, 100%) var(--form-height);
  gap: 0.2em;
}

.mintapps .mint-card-narrow .form-container .wide-element {
  grid-column: 1/3;
}

.mintapps .mint-card-narrow .form-container .wide-label {
  grid-column: 1/2;
}

.mintapps .mint-card-narrow .form-container .form-separator {
  grid-column: 1/3;
}

.mintapps input,
.mintapps textarea {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border: solid 1px var(--dividor-color);
  min-height: 2rem;
  min-width: 2rem;
  padding: 0 0.5rem;
  text-align: left;
  margin: 0;
  overflow-y: hidden;
}

.mintapps textarea {
  min-height: 5rem;
  display: inline-block;
  padding: 0.5rem;
  resize: vertical;
}

.mintapps .mint-output {
  padding: 0.3rem 0.5rem;
  color: var(--text-color);
  border-style: dashed !important;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  overflow-wrap: break-word;
}

.mintapps .mint-label {
  padding-top: 0.2rem;
}

.mintapps .form-border {
  box-sizing: border-box;
  border: 1px solid var(--dividor-color);
  border-radius: 0;
}

.mintapps input[type="range"].form {
  display: inline-block;
}

/* invalid inputs */
.mintapps .invalid {
  border: 2px solid var(--error-color) !important;
}

.mintapps .invalid:focus {
  outline: solid 1px var(--error-color) !important;
}

.mintapps .invalid-label {
  font-size: 80%;
  color: var(--error-color);
  margin-top: 0.1rem;
}

/* buttons in forms */
.mintapps .btn-input {
  border-radius: 0;
  margin: 0;
  padding: 0;
  padding-top: 0.2rem;
  width: var(--form-height);
  min-height: var(--form-height);
  flex-grow: 0;
  flex-shrink: 0;
}

.mintapps .btn-input img {
  width: 1em;
}

/* markdown preview in text fields */
.mintapps .markdown-preview {
  margin: 0.3rem 0;
  padding: 0.5rem;
  background-color: var(--info-color);
  border-radius: var(--border-radius);
}

/* custom slider */
.mintapps .custom-slider {
  margin: 0 0 0.4rem;
  width: 100%;
}

.mintapps .custom-slider input {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  appearance: none;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 6px;
  min-height: inherit;
  background: var(--background-color-1);
  outline: none;
  transition: brightness 0.2s;
  overflow-y: inherit;
}

.mintapps .custom-slider input:hover {
  filter: brightness(0.9);
}

.mintapps .custom-slider input::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 15px;
}

.mintapps .custom-slider input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

/* custom select */
.mintapps .custom-select-container {
  position: relative;
  min-width: 8rem;
}

.mintapps .custom-select {
  padding: 0.3rem 0.5rem 0;
  cursor: pointer;
  flex-grow: 1;
  border-right: none;
}

.mintapps .custom-option {
  display: block;
  border: none;
  border-bottom: solid 1px var(--dividor-color);
  font-size: 100%;
  padding: 0 0.5rem;
  width: 100%;
  text-align: left;
  min-height: var(--form-height);
  color: var(--primary-text-color);
  background-color: var(--background-color-1);
}

.mintapps .custom-option:last-child {
  border-bottom: none;
}

.mintapps .custom-option:hover {
  filter: brightness(0.9);
}

.mintapps .custom-option-container {
  position: absolute;
  left: 0;
  right: 0;
  border: solid 1px var(--dividor-color);
  background-color: var(--background-color-1);
  height: auto;
  z-index: 5000;
}

.mintapps .modal-mask .custom-option-container {
  position: relative;
}

/* color input */
.mintapps .color-input {
  padding: 0;
  min-height: var(--form-height);
}

.mintapps .color-input:hover {
  filter: brightness(0.9);
}

/* file input dialog */
.mintapps .input-file .drop-zone {
  cursor: pointer;
  border: dashed 1px var(--dividor-color);
  padding: 0.5rem;
  min-height: 2rem;
  flex-grow: 1;
  border-right: none;
}

.mintapps .input-file .drop-zone:hover,
.mintapps .input-file .drop-zone-focus {
  background-color: var(--background-color-1);
}

.mintapps .input-file .vertical-center-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mintapps .input-file .img-container {
  display: flex;
  justify-content: stretch;
  padding: 0.3rem;
  height: 10em;
}

.mintapps .input-file .img-container img {
  height: 100%;
}

.mintapps .input-file .grid-col-1-3 {
  grid-column: 1/3;
}

/* disable decoration for number inputs */
.mintapps input::-webkit-outer-spin-button,
.mintapps input::-webkit-inner-spin-button {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  margin: 0;
}

.mintapps input[type="number"] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
}