/* huge menu */

.mintapps .menu-huge {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--double-spacing);
  margin-bottom: var(--spacing);
}

.mintapps .menu-huge .entry {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: transform 0.3s;
}

.mintapps .menu-huge .entry-image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--primary-color);
  height: 8rem;
}

.mintapps .menu-huge .entry-image img {
  width: 8rem;
  height: 8rem;
  filter: invert(1);
  color: transparent;
}

.mintapps .menu-huge .entry-text {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
}

.mintapps .menu-huge .entry-text .text {
  margin: 0.5rem 0;
  color: var(--primary-text-color);
}

.mintapps .menu-huge .entry-text .title {
  font-size: 120%;
  font-weight: 500;
  hyphens: auto;
  word-break: break-all;
  border: none;
}

.mintapps .menu-huge .entry:hover,
.mintapps .menu-huge .entry:focus {
  cursor: pointer;
  transform: scale(1.05);
}

@media only screen and (width <= 1000px) {
  .mintapps .menu-huge {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (width <= 800px) {
  .mintapps .menu-huge {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width <= 600px) {
  .mintapps .menu-huge {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (width <= 400px) {
  .mintapps .menu-huge {
    grid-template-columns: 1fr;
  }

  .mintapps .menu-huge h2 {
    font-size: 110%;
    margin: 0;
  }

  .mintapps .menu-huge .entry {
    flex-direction: row-reverse !important;
    width: 100%;
    text-align: left;
  }

  .mintapps .menu-huge .entry-text {
    flex-grow: 1;
  }

  .mintapps .menu-huge .entry-image {
    border-bottom-right-radius: var(--border-radius);
    border-top-left-radius: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .mintapps .menu-huge .entry-image img {
    width: 7rem;
    height: 7rem;
    filter: invert(1);
  }
}

@media print {
  .mintapps .menu-huge {
    grid-template-columns: 1fr;
  }

  .mintapps .menu-huge .entry {
    text-align: left;
    break-inside: avoid;
    flex-direction: row;
    margin: 0.5rem;
    padding: 0;
  }

  .mintapps .menu-huge .entry-image {
    background-color: white !important;
    height: inherit;
    line-height: 1;
    background-image: none;
  }

  .mintapps .menu-huge .entry-image img {
    filter: none;
    width: 4rem;
    height: 4rem;
    background-color: white;
  }

  .mintapps .menu-huge .entry-text {
    padding: 0 0 0 1rem;
  }

  .mintapps .menu-huge h2 {
    margin: 0 !important;
    line-height: 100%;
  }
}

/* large menu */
.mintapps .menu-large a.menu:hover {
  text-decoration: none;
}

.mintapps .menu-large {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--double-spacing);
  margin-bottom: var(--spacing);
}

.mintapps .menu-large .hidden {
  display: none;
}

.mintapps .menu-large .entry {
  display: flex;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: transform 0.3s;
}

.mintapps .menu-large .entry-text {
  display: inline-block;
  flex-grow: 1;
  padding: 0.4rem 0.5rem 0.8rem 0.8rem;
  hyphens: auto;
}

.mintapps .menu-large .entry-text .title {
  font-size: 110%;
}

.mintapps .menu-large .card-text {
  color: var(--primary-text-color);
}

.mintapps .menu-large .card-meta {
  color: var(--primary-text-color);
  font-style: italic;
  padding: 0;
  margin: -0.1rem 0 -0.3rem;
  font-size: 90%;
}

.mintapps .menu-large .entry-image {
  display: flex;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  align-items: center;
}

.mintapps .menu-large .entry-image span {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mintapps .menu-large .entry-image img {
  width: 7em;
  height: 7em;
  filter: invert(1);
}

.mintapps .menu-large .entry-image img.data-icon {
  filter: invert(0);
}

.mintapps .menu-large h3 {
  font-size: 110%;
  font-weight: 500;
  padding: 0;
  margin: 0.5rem 0;
}

.mintapps .menu-large .entry:hover,
.mintapps .menu-large .entry:focus {
  cursor: pointer;
  transform: scale(1.03);
}

@media only screen and (width <= 1000px) {
  .mintapps .menu-large {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (width <= 700px) {
  .mintapps .menu-large {
    grid-template-columns: 1fr;
  }
}

@media only screen and (width <= 500px) {
  .mintapps .menu-large h3 {
    font-size: 110%;
    margin: 0;
  }
}

@media print {
  .mintapps .menu-large {
    grid-template-columns: 1fr;
  }

  .mintapps .menu-large .entry {
    break-inside: avoid;
    flex-direction: row-reverse;
    margin: 0.5rem;
  }

  .mintapps .menu-large .entry-imgage {
    background-color: white !important;
    background-image: none;
  }

  .mintapps .menu-large .entry-imgage img {
    filter: none;
    width: 4rem;
    height: 4rem;
  }

  .mintapps .menu-large .entry-text {
    padding: 0 0 0 1rem;
  }

  .mintapps .menu-large h3 {
    margin: 0 !important;
    line-height: 100%;
  }

  .mintapps .menu-large .entry-image {
    background-color: white !important;
    height: inherit;
    line-height: 1;
    background-image: none;
  }

  .mintapps .menu-large .entry-image img {
    filter: none;
    width: 4rem;
    height: 4rem;
    background-color: white;
  }
}
