/*
 Style text-blocks
 Global style
*/
.mintapps .text-block {
  hyphens: auto;
  counter-reset: h2counter;
  background-color: var(--background-color);
  padding: 1rem 2rem;
  margin-top: var(--spacing);
  margin-bottom: var(--double-spacing);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.mintapps mint-card .text-block {
  padding: 0;
  margin-top: -1rem;
}

@media screen and (width < 700px) {
  .mintapps .text-block {
    margin: 0;
    padding: 1rem;
    box-shadow: none !important;
    background-color: inherit;
  }
}

.mintapps .text-block img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.mintapps .text-block h1 {
  display: none;
}

.mintapps .text-block h2 {
  font-weight: 600;
  font-size: 110%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  clear: both;
  border-bottom: 1px solid var(--dividor-color);
}

.mintapps .text-block h2::before {
  content: counter(h2counter, upper-roman) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

.mintapps mint-card .text-block h2 {
  font-size: 100%;
  margin-left: var(--minus-spacing);
  margin-right: var(--minus-spacing);
  padding: 0 var(--spacing);
}

.mintapps .text-block h2:first-of-type {
  margin-top: 1rem;
}

.mintapps .text-block h3 {
  font-weight: 600;
  font-size: 100%;
  margin-top: 1.1em;
}

/* Paragraph */
.mintapps .text-block p {
  text-align: justify;
}

.mintapps .text-block p.subtitle {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -3.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  background-color: #e0e2e6;
  text-align: center;
}

/* Lists */
.mintapps .text-block ul,
.mintapps .text-block ol {
  padding: 0;
  margin: 0 0 0 2em;
}

.mintapps .text-block ul li,
.mintapps .text-block ol li {
  padding: 0.2em 0;
  margin-bottom: inherit;
}

.mintapps .text-block ul ul,
.mintapps .text-block ul ol,
.mintapps .text-block ol ul,
.mintapps .text-block ol ol {
  margin-left: 1em;
}

.mintapps .text-block li p {
  padding: 0;
  margin: 0;
}

.mintapps .text-block table {
  padding: 0;
  margin: 12px 0;
  border-collapse: collapse;
  background-color: var(--background-color);
}

.mintapps .text-block th {
  text-align: left;
  vertical-align: top;
  padding: 5px 10px;
  background-color: var(--background-color-1);
}

.mintapps .text-block td {
  text-align: left;
  vertical-align: top;
  padding: 5px 10px;
}

.mintapps .text-block tr {
  border: 1px solid var(--dividor-color);
  width: 100%;
}

/* Block Quote */
.mintapps .text-block blockquote {
  background-color: var(--info-color);
  padding: 0.5em 1em;
  margin: 1em 0;
  border-radius: var(--border-radius);
}

.mintapps .text-block blockquote a {
  color: var(--primary-text-color);
}

/* Code */
.mintapps .text-block code {
  font-family: monospace;
  font-size: 90%;
}

.mintapps .text-block pre {
  background-color: var(--background-color-1);
  border: solid 1px var(--dividor-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
  font-size: 90%;
}

/* Hide Footnote backlinks */
.mintapps a.footnote-backref {
  display: none;
}

.mintapps .footnotes-sep {
  margin-top: 2em;
  margin-bottom: 1em;
  clear: both;
  border: none;
  border-bottom: 1px solid var(--dividor-color);
}

.mintapps .footnote-item {
  font-size: small;
}

/* Printout */
@media print {
  .mintapps .text-block h1 {
    background-color: inherit;
    text-align: left;
    margin: 0;
    padding: 0.5em;
  }

  .mintapps .text-block p.subtitle {
    background-color: inherit;
    text-align: left;
    margin: 0;
    padding: 0.5em;
  }


  .mintapps .text-block blockquote {
    background-color: white;
    border: solid 1px var(--dividor-color);
    font-style: italic;
    color: black;
  }

  .mintapps .text-block ul li,
  .mintapps .text-block ol li {
    text-align: justify;
  }

  table {
    width: 100%;
  }
}